[2018-09-14 07:24] edwardz246003 opened #609 "change the default testmode of the run function of the smartcontract virtual machine"
In the smartcontract virtual machine, the default testmode of run function is True. This will make the RPC invokescript with infinite gas. It should be change to false.

https://github.com/CityOfZion/neo-python/blob/978f77922247d2d85c63dfe8db66e856fcb56582/neo/SmartContract/ApplicationEngine.py#L409

[2018-09-15 20:07] dauTT commented on #478
@ixje / @jseagrave21 ,
you can find the most updated files here: [link](https://github.com/dauTT/neo-python/tree/latest2-move-unittest-to-privnet-478)

I have modifed the following files:
[code]
and added the following wallets:
[code]
Latest image created: docker pull dautt/neo-privnet-unittest:v0.0.22

Fixtures to upload to AWS:
[fixtures_v8.tar.gz](https://github.com/CityOfZion/neo-python/files/

[2018-09-15 23:51] jseagrave21 commented on #478
@dauTT Here is the migrated `test_json_rpc_api.py` including the new tests for `sendtoaddress` since @localhuman just merged that PR.

https://github.com/jseagrave21/neo-python/blob/DauTT-branch/neo/api/JSONRPC/test_json_rpc_api.py

Additionally, please note that the my "DauTT-branch" is completely up to date with your "latest2" branch, and it is also up-to-date with the latest CoZ Development bra

[2018-09-16 00:13] jseagrave21 commented on #478
For the other failures in test_json_rpc_api.py when running `make test` there must be something wrong with the way that `discover neo` is being implemented.
For example, here is one of the failures:
[code]
Yet, the block being queried in `test_json_rpc_api.py` is 2003:
[code]
So, the `discover neo` is off by one block.

[2018-09-16 00:39] jseagrave21 commented on #605
Upon further investigation, I found that this issue is actually what appears to be a glitch when running neo-privatenet. In the previous example, `account` did not affect the balance of the address. Instead, somehow the balance completely reset.

I saw a similar issue and asked @belane  about it, and we could resolve it. Below is the example case.
Here are the last three wallet tx shown when using

[2018-09-16 16:45] jseagrave21 commented on #478
@dauTT, I am not sure about how to address this issue though perhaps it is related to #538 ?

[2018-09-17 22:37] jseagrave21 commented on #478
@dauTT I reran `make test` several times. I changed test_intial_setup to this:
[code]
Instead of the expected result, I consistently get `0xb3181718ef6167105b70920e4a8fbbd0a0a56aacf460d70e10ba6fa1668f1fef` which I cannot find when I query with `block` in np-prompt. So, it looks like block 0 is being replaced by a different block at some point during the `discover neo` test.

[2018-09-18 10:53] ixje commented on #478
@dauTT
1) I solved the `unittest discovery` difference. You'll have to merge this PR: https://github.com/CityOfZion/neo-python/pull/616

2) Having this call is good https://github.com/dauTT/neo-python/blob/latest2-move-unittest-to-privnet-478/neo/Settings.py#L232-L234
But we do not want to copy the settings from the privnet protocol file. We should create a new one and check that in (e.g. `protoco

[2018-09-18 13:09] novaknole opened #617 "How to use neo smart contract invocation from websites like ethereum has web3"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
- What is the problem?
- Include a screenshot if it makes sense.

### Expected behavior

- What should be happening?
- Include a screenshot if it makes sense.

### How to reproduce

- Please explain the steps to reproduce the problem. If you are having an issue with your mac

[2018-09-18 13:38] metachris commented on #617
The software that is similar to web3 is https://github.com/CityOfZion/NeoLink

Alternatively you can build a custom backend with eg. neo-python and talk with that from the frontend. See the examples for more info in that regard: https://github.com/CityOfZion/neo-python/tree/master/examples

[2018-09-18 13:38] #617 closed

[2018-09-18 23:03] dauTT commented on #478
Thanks @ixje / @jseagrave21 , great team work!!! :smile:

I have created a clean branch with all the PR (611, 616) merged together along with the update file `test_json_rpc_api` from @jseagrave21 branch. Here is the [link](https://github.com/dauTT/neo-python/tree/merge-pr616-pr611-into-latest2-move-unittest-to-privnet-478)

**Fixtures to upload to AWS:**

[notif_fixtures_v8.tar.gz](https://github.

[2018-09-18 23:10] jseagrave21 commented on #478
@dauTT okay let me take a look

[2018-09-18 23:39] jseagrave21 commented on #478
@dauTT since we didn't change the test and testwallet.db3 is still accessible, I suspect it is just the time out. I added 5 sec to the test here. Feel free to add time if you need to.
https://github.com/jseagrave21/neo-python/blob/DauTT-branch/neo/bin/test_prompt.py

[2018-09-19 03:55] DNK90 opened #618 "Cannot send NEO/GAS from multisig address on testnet"
### Current behavior
- version: 0.7.8
- Cannot send NEO/GAS from multisig address with the following command:
`send GAS AZ7toUBAnFki1Amv2ZRNu2bPh7Bvqwhnmq 5000 --from-addr=AMC2wLX59UdatQQ5jUJGeAMYV9FK4xoQUS `
- Output always returns `Veryfiying tx result... failed`
- Screenshot
<img width="900" alt="evidence" src="https://user-images.githubusercontent.com/3262116/45729994-7b9df380-bbf9-11e8-962a-b

[2018-09-19 06:42] DNK90 commented on #618
The message shows `Veryfiying tx result... failed` therefore it must be failed at this line
[https://github.com/CityOfZion/neo-python/blob/978f77922247d2d85c63dfe8db66e856fcb56582/neo/Network/NodeLeader.py#L343](https://github.com/CityOfZion/neo-python/blob/978f77922247d2d85c63dfe8db66e856fcb56582/neo/Network/NodeLeader.py#L343)

[2018-09-19 07:10] jseagrave21 commented on #618
Recommended trying `wallet rebuild` based on previous comment in Discord from @metachris . Waiting on wallet to finishing syncing now.

[2018-09-19 08:41] DNK90 commented on #618
@jseagrave21 it doesn't work

[2018-09-19 09:29] DNK90 commented on #618
I am debugging it and found that it fails at this
[https://github.com/CityOfZion/neo-python/blob/master/neo/Core/Helper.py#L185](https://github.com/CityOfZion/neo-python/blob/master/neo/Core/Helper.py#L185)
where engine.EvaluationStack.Count = 5 instead of 1

[2018-09-19 10:27] ixje commented on #618
@DNK90 please show what command you used to import (omit a small part of the keys if you feel that's necessary) the multi signature address

[2018-09-19 10:33] DNK90 commented on #618
@ixje
[code]

[2018-09-19 11:36] ixje opened #619 "new wallet created in vulnerable state"
### Current behavior
Created a new wallet, closed neo-python, opened neo-python, tried to open the new wallet, I get the message:

### Expected behavior

new wallets should be in the final secure state from the moment we create them

### How to reproduce
[code]

The help message can also be improved, as people might not know that the `reencrypt_wallet.py` script is located under `./neo/bin/`
### Y

[2018-09-19 11:44] localhuman commented on #619
This issue was recently fixed, and I can't currently reproduce on dev.

Also, the wallet's were not created in a vulnerable state, but the persisted flag indicating it is not vulnerable was not being persisted.

[2018-09-19 13:09] ixje commented on #619
I was in a rush for an appointment so didn't really investigate in depth, but I just tried again and it's not working 🤔

[code]
and the `reencrypt` script also doesn't seem to work

[code]

[2018-09-19 13:47] ixje commented on #619
will close for now as I can't seem to reliable reproduce it. First 4-5 tries it failed, now when I create a new wallet it works fine 🤔

[2018-09-19 13:47] #619 closed

[2018-09-19 13:52] ixje opened #620 "Create python wrapper for neo-hypervm"
[neo-hypervm](https://github.com/CityOfZion/neo-hypervm) is a high performance implementation of the VM written in C++. It would be nice if we can choose to run the high performance VM in certain conditions (or just when hosting an RPC server).

There's a C# wrapper in the project that you can potentially use as reference if you're not familiar with the VM implementation. Either a `ctypes` solutio

[2018-09-19 14:50] ixje commented on #609
thanks!

[2018-09-19 15:52] jseagrave21 commented on #620
I will try to contribute to this. Sounds pretty cool.

[2018-09-19 16:04] jseagrave21 commented on #608
I am working on this now.

[2018-09-19 17:35] jhwinter commented on #518
I'm getting this error when trying to install neo-python with python 3.7
[code]

[2018-09-19 19:06] dauTT commented on #478
Yes, your right, increasing the time out help. So all the test cases are fine. :+1:

[2018-09-20 04:42] jseagrave21 commented on #518
@jhwinter Did you install the dependencies for Python 3.7?
`sudo apt-get install python3.7 python3.7-dev python3.7-venv python3-pip libleveldb-dev libssl-dev g++`

[2018-09-20 09:45] ixje commented on #620
Just a friendly warning, this is a potentially tough issue if you don't understand the current VM design. My advise would be to start there

[2018-09-20 09:47] ixje commented on #609
fixed by https://github.com/CityOfZion/neo-python/pull/581
specifically:
https://github.com/CityOfZion/neo-python/blob/978f77922247d2d85c63dfe8db66e856fcb56582/neo/SmartContract/ApplicationEngine.py#L239-L242

[2018-09-20 09:47] #609 closed

[2018-09-20 13:08] jhwinter commented on #518
@jseagrave21 I'm using macOS High Sierra.

[2018-09-20 14:45] localhuman commented on #518
you could try `brew install openssl` or `brew install scrypt` before running `pip install`

[2018-09-20 15:20] jhwinter commented on #518
[code]

[2018-09-20 17:00] ixje opened #623 "Refactor prompt commands to be plugin based"
_Rationale:_
Currently [prompt.py](https://github.com/CityOfZion/neo-python/blob/master/neo/bin/prompt.py) over time evolved into a beast of `if/else` branches for command handling with several issues such as:

- Commands present but missing from the `help` output
- Commands present but not part of the auto completer
- Some commands have been extracted to live under `/neo/Prompt/Commands/` yet sti

[2018-09-20 17:00] ixje opened #624 "Create a more interactive and clean CLI"
_Rationale:_
The current CLI can be described as a vertical scrolling log where the bottom line is interactive and allows for command inputs that get displayed in the log. While it gives a quick historical overview, it is not suited for interactive inspection of data such as Blocks and Transactions.

Event logging is interlaced with command history and can clutter the view. Error messages can even

[2018-09-20 17:03] ixje opened #625 "Add a secure gateway example"
_Rationale:_
Presumably when those running `neo-python` do not use it for hosting an RPC Server they'll often use it as a secure or trusted gateway for interacting with the blockchain from their own (internal) infrastructure. Arguably everybody that uses it for this purpose is re-inventing the wheel by creating some API server that existing system can talk to with a queue that pushes transactions

[2018-09-20 17:04] ixje opened #626 "Add better Log message filtering"
_Rationale:_
Logging is a great way to get a quick idea what goes on under the hood when experiencing unexpected behaviour. This however assumes that log messages are descriptive and easy to consume. Currently messages are split into the default levels of INFO, DEBUG and ERROR.

When enabling for example debug logging via the command `config debug on` you get DEBUG logs of the whole application. S

[2018-09-21 05:14] jseagrave21 commented on #578
I will close this issue as soon as I can personally verify #611 has fixed the issue. Right now, I am waiting for an updated `bootstrap`.

[2018-09-21 18:44] dauTT commented on #554
@ixje ,
FYI, this issue is automatically resolved with the PR #622.

[2018-09-22 01:04] jseagrave21 opened #631 "`make test` fails on a fresh clone of neo-python development branch"
### Current behavior
I downloaded a fresh clone of the development branch and ran `make test` and received these errors:
[code]

### Expected behavior

There should be no errors: I understand that test_prompt.py is being disabled (https://github.com/CityOfZion/neo-python/pull/628)

### How to reproduce

Download a fresh clone of the development branch and run `make test`

### Your environment

- O

[2018-09-22 03:45] jseagrave21 commented on #518
I tried to install the latest development branch and the install hung multiple times when running setup.py for 'gevent' shown here:
[code]

Installing with Python 3.6 has no issues and does not run setup.py install for 'gevent':
[code]

[2018-09-22 10:16] ixje commented on #631
the testing of `neo-python` itself actually goes right, but overall testing fails on `neo-boa` tests because those are pulled from `pip` and are still outdated (thus using fixtures v7 not v8)

@localhuman can you push do a `neo-boa` release? then we can update the `neo-python` requirements file and resolve this issue 👍

[2018-09-22 15:39] jseagrave21 commented on #631
Awesome, I figured it would be a pretty easy fix. I just noticed it while working on a different PR.

[2018-09-22 19:27] nandubatchu opened #632 "RPC endpoint to fetch unspent coin references (UTXOs) for a given address"
### Current behavior
The current gettxout endpoint gives the UTXOs for a given transaction hash.

### Expected behavior

But I am looking for an endpoint that can parse the blockchain on the go and return back all the unspent UTXO set of a given address hash (which is not part of the wallet integrated in the node)

@jseagrave21 can you help building one such functionality in your ExtendedJsonRpc?

[2018-09-24 07:36] jseagrave21 commented on #632
Based on our discussion so far:
https://neoscan.io/docs/index.html#api-v1-get-3

[2018-09-26 01:58] jseagrave21 commented on #578
@localhuman with the most recent bootstrap file you posted
https://s3.us-east-2.amazonaws.com/cityofzion/bootstrap_main/Main276xxxx.tar.gz, the issue appears resolved
[code]
I think it would be good to include this bootstrap file in the next neo-python release.

[2018-09-26 01:58] #578 closed

[2018-09-26 08:27] nunojusto opened #636 "TODO: Run neo-python in ARM CPU architecture using Docker"
### Current behavior
Currently we only have docker containers to run in x86/x64 CPU

### Expected behavior
Run a normal docker container in ARM architecture CPU like the Raspberry Pi board and others.

### Objective
Build a Dockerfile that can build a container and installed seamlessly

[2018-09-26 08:34] metachris commented on #636
What is the issue here in particular? You can run the current Docker image on the Raspberry Pi, no? What kind of change in the Dockerfile do you think about?

[2018-09-26 08:44] nunojusto commented on #636
No, the current docker don't build directly on ARM/Raspbian. We need some extra dependencies.
I have done lots of tries and installed many things. I can get the smaller list of dependencies I can and post here.
Maybe those dependencies are not exclusive of ARM raspbian and we can add them to the default dockerfile(s) we currently have. That way the same Dockerfile will build on all x86/x64 and arc

[2018-09-26 10:29] metachris commented on #636
What are you trying to do -- run the neo-python Docker image on a Raspberry, or build it there? I don't see a real advantage of building the image on a Pi.

[2018-09-26 10:45] nunojusto commented on #636
What I've done was trying to run the normal docker image on a Pi. First you need to build it there (the image itself).
So, after that, the container runs, but neo-python doesn't, by lack of dependencies.
Then, I've fiddled around and installed many things inside the running container. And now neo-python prompt is working without problem.
In resume, I will do it again and see what really helped the

[2018-09-26 12:38] metachris commented on #636
As discussed in chat, this can be a fun hobby project, but not prioritised. Closing this issue. @nunojusto if you want to spend a few hours on this as hobby/side project, feel free to :)

[2018-09-26 12:38] #636 closed

[2018-09-26 17:41] ixje commented on #631
fixed

[2018-09-26 17:41] #631 closed

[2018-09-27 23:29] #606 closed

[2018-09-29 07:37] #585 closed

[2018-09-29 07:38] #554 closed

[2018-09-29 07:38] #478 closed

[2018-10-01 15:45] ixje opened #642 "Add Neo.Transaction.GetWitnesses"
See C# reference here: https://github.com/neo-project/neo/pull/402

[2018-10-01 18:36] localhuman commented on #642
Just a heads up that I've already implemented this, just have not made a PR yet.

[2018-10-02 17:17] #642 closed

[2018-10-04 05:54] corck opened #647 "/v1/tokens endpoint returns wrong script hash"
### Current behavior
I am working on a new token and compiling it in neo-python console and testing it, everything works out fine. My new code is compiled and the functionality is executed. When NeoScan's token sync is trying to sync the token it fails because of the code script hash, as it is not unique. Investigating into the problem I figured out that neo-pythons REST API returns, and probably

[2018-10-04 06:57] jseagrave21 commented on #632
@nandubatchu let me know if you need any more assistance. Otherwise, I think this issue can be closed.

[2018-10-04 16:54] j4ys0n commented on #492
I'm still seeing this issue.

Running 0.7.6 and 0.8.0.

`[I 181004 16:44:59 threading:864] [MainNet] Block 2612462 / 2805804`

We're running 4 nodes and they're all stuck between blocks 2.6 milllion and 2.78 million. Restarting the nodes does not cause them to start syncing again.

There is an error on one of the nodes, I'm not sure if it's related.

[code]

[2018-10-08 10:14] LysanderGG commented on #623
I'd like to try and do this issue.

I suggest the following:
- Open PR with the basic structure for `prompt.py` and one or two commands moved to `/neo/Prompt/Commands/`
- Review ^
- Move the other commands once the structure is ok.

What do you think?

[2018-10-08 13:11] ixje commented on #623
@LysanderGG Sounds good! Looking forward to your PR.

To help you a bit with direction setting, here are a bit more formal requirements:

- As a developer, I want to extend neo-python with custom commands, so that I can tune it to my needs
- As a user, I want my custom commands to survive updates, so that I can continue working without further interruption or required actions
- As a user, I want t

[2018-10-08 14:13] ixje opened #653 "ClaimGas function has incompatible return values"
### Current behavior
See https://github.com/CityOfZion/neo-privatenet-docker/pull/54#issuecomment-427848034
This function
https://github.com/CityOfZion/neo-python/blob/773e57e72b24a00f6d6d0f9b6fe701e3bb0e7d31/neo/Prompt/Commands/Wallet.py#L136

can return single values or a tuple.

### Expected behavior
The return value(s) need to be consistent and fixed to return a tuple

### How to reproduce

n/

[2018-10-08 14:15] ixje commented on #439
ping @igormcoelho
will close in 2 weeks if no reaction

[2018-10-08 14:54] igormcoelho commented on #439
Oh! sorry for the delay!
It looks like it has been addressed: "Adds ability to not parse address strings such as AeV59NyZtgj5AMQ7vY6yhr2MRvcfFeLWSb when inputting to smart contract by passing the --no-parse flag"
Congratulations!

[2018-10-08 14:54] #439 closed

[2018-10-08 19:47] ixje commented on #439
Thanks!

[2018-10-08 22:27] dauTT opened #655 "neo-python description on pypi.org is not displayed correctly"
### Current behavior

neo-python description on [pypi.org](https://pypi.org/project/neo-python/) is not displayed correctly:

![image](https://user-images.githubusercontent.com/30392990/46636782-bd1b2200-cb59-11e8-96c3-d1f3d8c432c6.png)

### Expected behavior
It should display a nice description.

### Your environment

- OS: Ubuntu
- neo-python version: `v0.8.2-dev`
- Python version: `3.6.5`

[2018-10-08 22:44] jhwinter commented on #518
The suggestion listed here: https://stackoverflow.com/questions/45693149/openssl-aes-h-file-not-found-on-mac#45750293 just fixed my compilation errors.
[code]

[2018-10-09 04:00] jseagrave21 commented on #518
Update to my previous comment https://github.com/CityOfZion/neo-python/issues/518#issuecomment-423713919:

Just tried to install neo-python using Python 3.7 on latest development branch (0.8.2) and it worked! 🎉  I think updating the dependencies in PR https://github.com/CityOfZion/neo-python/pull/643 may have fixed the issue.

[2018-10-09 16:14] skinderis opened #656 "Can I use fully synced blockchain for neo-python which was synced using neo-cli?"
I have fully synced blockchain in `BlockchainFolder` directory:
[code]
Is there anyway to add this synced blockchain to the folder that neo-python uses? There is file structure:
[code]

So, if it's possible to use synced blockchain for neo-python, where should I move `Chain` folder and `Index` folder?

Thank you!

[2018-10-09 16:19] skinderis commented on #656
I tried to move all files from `Chain` folder and I get this error:
![image](https://user-images.githubusercontent.com/24273695/46683160-294c6300-cbf8-11e8-8e1c-80faa76b11fd.png)

[2018-10-09 16:40] ixje commented on #656
`neo-cli` and `neo-python` chain files are not compatible. Your best option is to use the `np-bootstrap` command, which will download a `neo-python` compatible chain that's close to fully synced. Often it's around 95% and you only have to do the last bit.

[2018-10-09 16:40] #656 closed

[2018-10-09 18:16] ixje commented on #655
probable cause might be this
[code]

requires `pip install readme`

[2018-10-10 14:00] j4ys0n commented on #492
Any update on this?

[2018-10-10 14:57] ixje commented on #518
@jhwinter did you encounter any issues with `libcrypto`not being found? 🤔
I'm also on mojave but I get:
[code]
Even though I have
[code]

[2018-10-10 15:01] ixje commented on #492
Are they all stuck on the same block? If so, which block?

[2018-10-10 15:06] jhwinter commented on #518
@ixje I haven't experienced that problem. I just installed neo-python in a testing directory and these were my results:
[code]

[2018-10-10 15:08] j4ys0n commented on #492
No, different blocks. All info is in the post above: https://github.com/CityOfZion/neo-python/issues/492#issuecomment-427092328

[2018-10-10 15:37] ixje commented on #492
It's hard to say what goes on there, I'm syncing up now from `2784525`, will try to see what happens.
PS: if you updated to `0.8.0` you'll have to resync your chain (or use `np-bootstrap -m`) because there was an important fix to storage that could caused inconsistencies in stored balances.

[2018-10-10 16:07] ixje commented on #518
odd, thanks for the extra info. Will dig deeper later

[2018-10-10 17:39] ixje commented on #538
closing due to inactivity and issue likely to be solved by #611

[2018-10-10 17:39] #538 closed

[2018-10-10 18:57] ixje commented on #492
@j4ys0n for what it's worth, I just synced from `2784525` up to `2791504` and progressing without errors, just 1 warning being;

That's it.

[2018-10-11 13:32] jhwinter commented on #518
@ixje I just looked at my installation and it doesn't look like I have `/usr/local/lib/libcrypto.1.0.0.dylib` on my system.
Have you tried this yet?
[code]
That fixed this issue:
[code]
Given that your error seems to also deal with scrypt and libcperciva, it's possible that it could fix it.

[2018-10-11 14:41] ixje commented on #518
I did the symlink to resolve the aes header file. My current error comes after that *shrug*

[2018-10-11 17:06] ixje commented on #518
had to do

before running `pip install`. Now it's fine
I swear I thought I already symlinked the lib dir to `/usr/local/lib` , I guess not

[2018-10-11 17:30] #518 closed

[2018-10-11 17:31] ixje commented on #605
is this still present in the latest dev branch?

[2018-10-11 17:33] jseagrave21 commented on #605
I will check.

[2018-10-12 22:53] jseagrave21 commented on #605
@ixje I just verified on the latest branch on privatenet that this behavior is still exhibited. I did exactly the same steps as previously mentioned [here](https://github.com/CityOfZion/neo-python/issues/605#issuecomment-421662084)

[2018-10-13 16:33] ricardsosm opened #666 "sc-events on"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
- What is the problem?
- Include a screenshot if it makes sense.

### Expected behavior

- What should be happening?
- Include a screenshot if it makes sense.

### How to reproduce

- Please explain the steps to reproduce the problem. If you are having an issue with your mac

[2018-10-13 16:42] ricardsosm commented on #666
Debian 9

start or np-prompt
when I release configuration to on with
config sc-events on the prompt goes crazy

[2018-10-13 16:42] #666 closed

[2018-10-14 12:55] ixje commented on #492
Ok I've encountered a scenario that could cause 'hanging'.

It can happen that we request blocks from our connected nodes, the nodes we request them from are alive (i.e. the connection is established), but they don't give us the requested blocks. Then neo-python just hangs there because it doesn't a timeout mechanism for answering to our request. If we would have that and track some `health` like

[2018-10-14 13:12] ixje commented on #566
Thanks for reporting 👍 . Should be addressed in the development branch shortly.

[2018-10-14 13:13] ixje commented on #647
FYI; Should be in dev branch.

[2018-10-15 06:41] corck commented on #647
Fixed now, will close.

[2018-10-15 06:41] #647 closed

[2018-10-15 15:43] j4ys0n commented on #492
that sounds like it could be the issue :)

is there a way to manually add new peer connections?

[2018-10-15 17:58] ixje commented on #492
You could add them to the seedlist:
https://github.com/CityOfZion/neo-python/blob/1790581bfb9c91e92814fe6624997f90c08f989f/neo/data/protocol.mainnet.json#L14-L30

Another thing to keep in mind is that by default `neo-python` only accepts 5 peers. So if the first 5 in the seedlist are alive but not delivering the required data, then you'd still be stuck. You can increase this by adding the `--maxpe

[2018-10-18 09:14] wanglongfei88 opened #670 "wallet create_addr is showing error message"
### Current behavior
I am currently using neo-python to create an address after opened a wallet. And it shows an error message as
[code]
Actually, the address is created success.
![wallet create address](https://user-images.githubusercontent.com/34025001/47143597-1fadb400-d2f8-11e8-81cb-b68a7ec369c7.png)

### Expected behavior

- display a success message

### How to reproduce

- Access the privat

[2018-10-18 16:32] jseagrave21 commented on #670
@wanglongfei88 this message is expected as shown here https://github.com/CityOfZion/neo-python/blob/1790581bfb9c91e92814fe6624997f90c08f989f/neo/Implementations/Wallets/peewee/UserWallet.py#L154 because the script is checking to see if the address created already exists in the database.

[2018-10-18 16:47] jseagrave21 commented on #670
You make a good point though. Thank you for the feedback! We can definitely do that.

[2018-10-20 09:09] ixje commented on #623
@LysanderGG just checking in to see if you are in need of some input/ideas. Or if you lost interest, please let us know so we don't duplicate work if somebody else shows interest. Thanks! 👍

[2018-10-20 09:11] LysanderGG commented on #623
@ixje I started thinking about it and writing some code this week, I'll contact you on Discord for a few questions :)

[2018-10-22 09:29] skinderis opened #677 "getbalance method returns 0, on blockchain explorer says 1"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
yes
- What is the problem?
I have running node on neo-python. I created the wallet, added new address (now it has 2 addresses) and sent 1 NEO to that new address. On neo blockchain explorer I can see that I have that 1 NEO. but when I call :
1) **getbalance** method it **ret

[2018-10-22 18:53] skinderis commented on #677
One more thing, the method **gettxhistory**, which is in **ExtendedJsonRpcApi.py** file return empty array for my wallet.

[2018-10-22 20:13] DaShak commented on #352
I too am experiencing issues with CPU load - however, on a multi-core system, it looks like only one thread gets maxed out - in each case I am using python 3.7.0 & venv, on Debian 9.5.0...

The CPU load/performance issue seems to be mitigated to some degree by following the advice in https://github.com/CityOfZion/neo-python/blob/master/docs/source/Seedlist.rst and adding reliable peers; I have add

[2018-10-22 21:07] jseagrave21 commented on #677
@skinderis Both `getbalance` and `gettxhistory` require that you have an open wallet on the RPC server that you are querying. To solve your issue, you could start an RPC server with your wallet like:
[code]

[2018-10-23 11:27] ixje opened #678 "RPC getpeers return value exceeds maxpeers setting"
### Current behavior
As reported here: https://github.com/CityOfZion/neo-python/issues/352#issuecomment-431966346
The `getpeers` command get return a list of peers that exceeds the `maxpeers` configuration setting.

### Expected behavior
getpeers should not exceeds maxpeers.

### Your environment

Let us know in what environment you're running into the issue:

- OS: Debian 9.5.0
- neo-python versi

[2018-10-24 14:00] DaShak commented on #352
I believe you are on target, @ixje - my node with CoZ hosts added to the SeedList has been stable & sync'd for a few days with maxpeers set to ~20 - I suspect neo-python is having issues disconnecting from unhelpful peers.

I'm working with the current master branch, which was last updated earlier this month:

[code]

[2018-10-25 13:35] ixje opened #682 "update bootstrap files"
Current bootstrap is at 2784xxx, latest block is 2891xxx.

[2018-10-25 14:59] xxedocxx commented on #682
https://s3.us-east-2.amazonaws.com/cityofzion/bootstrap_main/Main2891xxx.tar.gz
I am waiting badly

[2018-10-25 16:43] j4ys0n commented on #492
That doesn't seem to have done it. I built a new docker image with the latest version (which includes that seed list you posted) and set `--maxpeers 50` the blockchain stopped syncing at ~22%. I just restarted the container and it's syncing again, but I don't think the seed list and upping the peers fixed the issue.

[2018-10-25 16:51] j4ys0n commented on #492
[code]

[2018-10-25 18:01] ixje commented on #492
@j4ys0n can you please let us know which version that error occurred on? I know there has been some  digging and attempts to resolve all "Unhandled error in Deferred" errors. I would like to check if you're using a release pre of post those fixes. thanks

[2018-10-25 18:08] j4ys0n commented on #492
yep, just checked it - `NEO-PYTHON:0.7.1`

[2018-10-25 18:28] j4ys0n commented on #492
i just copied out the data dir from that node, built a new docker image with 0.8.1 and mounted the existing chain on the new node and it appears to be syncing again. it was stuck around block 2786210. 0.7.1 would sync a few blocks then give that Deferred error above. This appears to be working now with 0.8.1... fingers crossed.

The only issue is syncing from scratch, I started 2 nodes with 0.8.1

[2018-10-25 18:33] ThomasLobker commented on #492
I'm also trying to do a full sync from scratch with `neo-python` version `0.8.1` (with two completely separate nodes) since about a week. It's been a nightmare to be honest. It's now at about 1.3M blocks (so even before any NEP-5 tokens) and progress is extremely slow. When I'm starting the day I'm checking progress and sometimes it's stuck at the same block for hours, when I restart the node it s

[2018-10-25 18:46] ixje commented on #492
@j4ys0n I'm not sure if that will work without unexpected results due to a fix to the way data is stored. I'm sure it will continue syncing, but it is likely to have wrong data stored now.

@ThomasLobker yeah I've been reading reports of this more and more lately, and sometimes experiencing this myself (even on a privatenet). In about 2 weeks I'm going to have a lot of time at hand and definitely

[2018-10-25 18:52] ThomasLobker commented on #492
I forgot to mention that the node was also crashing a couple of times, and giving a lot of warnings and error messages. Tomorrow back at the office I can send them over.

Right now I'm trying a fresh full sync from scratch again, with only one peer (neo-cli 2.9.0) on localhost. Let's see if this works better.

[2018-10-25 18:53] ixje commented on #492
great, would love to receive those logs

[2018-10-26 07:55] nhannamsiu opened #683 "String concat and "build ... test ..." bugs"
### Current behavior
Wrong behavior when concatenating string that is stored inside variable
Cannot run the original **build test** command

### Expected behavior
[code]
result should be 'aaabbb', but the output is 12829635

### How to reproduce
[code]

In terminal:
source venv/bin/activate
np-prompt
open wallet ./mywallet
build example.py test 07 07 False False one
build example.py test 07 07 Fal

[2018-10-26 12:09] ixje commented on #683
**concat:**
`neo-python` makes use of the `neo-boa` compiler [link](https://github.com/CityOfZion/neo-boa/) for handling the smartcontract to `.avm` format conversion. Smart contracts only support a subset of python. To my best knowledge at this point you'll need to use the `concat` function instead of `a+b`
[code]

**build:**
You are not specifying enough arguments. Your first attempts fail becau

[2018-10-26 12:09] #683 closed

[2018-10-26 12:11] dethos commented on #189
@metachris perhaps we could update the checklist again. From the unchecked items, `sendtoaddress` and `sendmany` were already added.

[2018-10-26 12:42] xxedocxx commented on #492
Progress: 2860777 / 2893200
Block-cache length 22
Blocks since program start 1165
Time elapsed 358.3456694833333 mins
Blocks per min 3.2510508685083583
TPS: 0.8365758508134455

I have received 10000 blocks last 2 days.

[2018-10-26 12:53] ThomasLobker commented on #492
I managed to improve the situation a lot, but using only **one peer** (`neo-cli 2.9.0`) that was already fully synced and that runs on the same machine, over loopback. I was so far able to do a full sync up to about 1.7M blocks in the last 18 hours or so. The issue is not my local internet connection. The syncing progress did halt a couple of times, but simply restarting the node fixed that.

Unfo

[2018-10-26 13:20] ixje commented on #492
I just watched syncing mainnet from scratch a bit and there's just a lot of nodes that don't respond to neo-python's request, so we keep repeating the request to no end. I have a stale count of 26000 (thousand) as we speak. One of the things I want to add is new node discovery so we can discard nodes that don't respond to our block requests (likely because they're overloaded) after x number of tim

[2018-10-26 15:57] nhannamsiu commented on #683
Thank you, I need to inspect neo-boa more.

By the way, I was following the tutorial on build and test contract at https://neo-python.readthedocs.io/en/latest/neo/SmartContract/smartcontracts.html#build-and-test-your-contract. Which appreared to miss the {is_payable} argument.
Not sure if you maintain this document, but I just bring this up so other ones who have the same problem can refer to.

[2018-10-26 17:43] xxedocxx commented on #492
I just used np-bootstrap with the latest merged. It finally works!

[2018-10-27 13:47] ThomasLobker commented on #492
I noticed that it's always resetting blocks before it starts to hang.

When `self.leader.ResetBlockRequestsAndCache()` is called [here](https://github.com/CityOfZion/neo-python/blob/6bda86257460078e08543217b0d8905c16be29ab/neo/Network/NeoNode.py#L308) it's clearing the cache, specifically `BC.Default()._block_cache`. It happens once in a while that this happens right between receiving the block fr

[2018-10-28 09:06] ixje commented on #683
thanks for pointing that out, will update.

[2018-10-28 16:23] ThomasLobker opened #687 "Disconnected peers are not cleaned up properly"
### Current behavior
When a connected peer disconnects, it should clean up the connection, the scheduled tasks and the used variables. Currently the tasks keep running. This means that if a peer disconnects a lot, then the background tasks keep building up and `neo-python` will start eating memory.

### Expected behavior
Disconnected peers should be cleaned up and all looping and deferred tasks sh

[2018-10-30 02:49] jseagrave21 commented on #687
Hey this is a great fix! I have been noticing the trend for toward max memory consumption while running my API server. I thought it was normal. Normally when I start the server I am at about 3/8 Gb. After a day or so, I will usually be sitting at 7+/8 Gb in use. Was this the cause?

[2018-10-30 08:55] ThomasLobker commented on #687
@jseagrave21 the impact is the mostly during initial sync, when new blocks are coming in faster. But overall you should notice some improvements in a fully synced node as well. I'm curious if memory usage improves for you, so please let me know.

[2018-10-30 20:10] jseagrave21 commented on #687
@ThomasLobker After running for awhile now with a fresh dev pull, I noticed that the initial startup took much longer but once it started, the server has been running quite smoothly. Memory has remained at 3/8 Gb in use.

[2018-10-30 21:07] financeforgeek opened #694 "Notifications by contract for global assets"
Current behavior

There is currently a method to get the addresses by contract for NEP-5 (/notifications/contract/script_hash) but there is no way that I know of to get the same thing for global assets. After talking to @jseagrave21 on discord it seems from RPC (ExtendedJsonRpcApi.) it could be added as a new method.

Expected behavior

/notifications/contract/script_hash should return the same th

[2018-10-30 22:03] jseagrave21 commented on #694
I am working on this but just wanted to clarify. My intention is to create an RPC method for ExtendedJsonRpcApi that will work for NEO/GAS while the REST method, "notifications by contract", would continue to be used for NEP5 tokens.

[2018-10-31 09:52] ixje opened #695 "Remove Neo.Witness.GetInvocationScript"
### Current behavior
`GetInvocationScript` is available

### Expected behavior
not available, see discussion  for reason why https://github.com/neo-project/neo/commit/c32c63b1b623ff0a2cb4839292ab67bc881223f7

### How to reproduce
n/a

### Your environment

Let us know in what environment you're running into the issue:

- OS: OSX
- neo-python version: 0.8.2-dev
- Python version: 3.6.6

[2018-10-31 15:30] jseagrave21 commented on #687
Well, my server is still running well but RAM in use has continued to creep up like before. I am not sure if this is bad or good. My server has been running for almost 20 hrs and RAM in use by Python is now 4.5/8 Gb. Otherwise, it seems to be running smoothly.
[code]

[2018-10-31 16:10] #687 closed

[2018-10-31 17:56] #682 closed

[2018-10-31 17:56] #678 closed

[2018-10-31 17:57] #653 closed

[2018-10-31 17:58] #626 closed

[2018-10-31 17:58] #670 closed

[2018-10-31 19:40] jseagrave21 opened #697 "Cannot sign multisig tx"
### Current behavior
_NOTE: This is a continuation of an unresolved discussion from Discord._

I was trying to build a test for parse_and_sign in Send.py but I can't seem to successfully sign a transaction from a multisig address using `sign` in prompt.py.

### Expected behavior

I should be able to use `sign` (`parse_and_sign`) in prompt.py to add a signature to a tx, and allow it to be relayed.

[2018-10-31 22:17] j4ys0n commented on #492
I've got 2 nodes that i've been trying to sync for about 2 weeks now (0.8.1) and they're stuck again. they've only made it to block 101692 and 766257 respectively.

[2018-10-31 22:34] j4ys0n commented on #492
I've had 2 nodes stuck for a few days now. It's been 2+ weeks and they're still not fully synced. Both are 0.8.1. I see a lot of messages like this: `Could not find transaction for hash b'81871e3cd4b9e1bd2cecf863ef9884d934f8d851dc57acf5b628a4fac1b5f128'` I'm going to update them to 0.8.2, saw that was just released.

[2018-11-01 08:19] #695 closed

[2018-11-01 09:09] ThomasLobker commented on #492
@j4ys0n make sure you use the development branch. Also please notice that my proposed workaround is not yet merged, so you should manually remove [line 243 from NodeLeader.py](https://github.com/CityOfZion/neo-python/blob/development/neo/Network/NodeLeader.py#L243). Thanks for testing!

[2018-11-02 08:06] AnkitRathore175 opened #700 "getting error while running np-bootstrap"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
- What is the problem?
when running  np-bootstrap for testnet, it's download bootstrap chain successfully, but after that occured an error says "RuntimeError: cannot join current thread"
- Include a screenshot if it makes sense.
![image](https://user-images.githubusercontent

[2018-11-02 09:30] ixje commented on #700
This is a problem with the `tqdm` package. Their Github has issue reports and it's up to them to fix it. For now you can try to downgrade the package: `pip install tqdm==4.23.4`

[2018-11-02 09:30] #700 closed

[2018-11-02 13:34] ixje commented on #700
ah you're using `np-bootstrap`. Try
[code]

`np-bootstrap` is a shortcut to `neo/bin/bootstrap.py` but does additional requirements checking. You can circumvent that using the above direct access method.

The `path` for `create wallet` is the destination path where you want to store it relative to the neo-python folder e.g.
[code]
creates a wallet under `/neo-python-installation-dir/Wallets/mywall

[2018-11-03 03:04] jhwinter opened #701 "Refresh prompt"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
Yes.
- What is the problem?
After building and importing a token contract, I am not able to import the token into my wallet. So, I usually end up exiting and restarting the prompt. It would be nice if there was simply a way to refresh the prompt instead. This would be especi

[2018-11-03 10:24] Pega88 opened #702 "wrong instructions on dockerhub"
### Current behavior
On the [dockerhub](https://hub.docker.com/r/cityofzion/neo-python/) instructions for neo-python, on the section "Running the image standalone", it says to execute `docker pull cityofzion/neo-privatenet`.

This will pull the container image from [this github](https://github.com/CityOfZion/neo-privatenet-docker), which is [this dockerhub](https://hub.docker.com/r/cityofzion/neo-

[2018-11-03 10:31] ixje commented on #702
thanks, fixed!

[2018-11-03 10:31] #702 closed

[2018-11-03 16:30] jseagrave21 opened #703 "Confirmed tx not purged from mempool"
### Current behavior
My local mainnet RPC node shows one unconfirmed tx. When I query with `getrawmempool` I receive
[code]

When I query that hash with `getrawtransaction` I receive
[code]

### Expected behavior
Since the tx 0xf9916aa7159ff385b0b4e45686a4b7ccf3bcc934a60464b127a5148589aa3c18 has actually been confirmed 7263 times (at the time of query), it should have been removed from my RPC node

[2018-11-05 14:16] ixje commented on #697
I identified the issue;
Both signatures are added, but the `CHECKMULTISIG` instruction in the VM is using the "wrong public key - signature" combination.  Meaning it's using Key_A to verify signature_B, and Key_B to verify signature_A. I just have to figure out why/where this allocation goes wrong.

[2018-11-05 16:35] ixje commented on #697
note to self to address:
- [ ] calling `sign` without an open wallet errors
- [ ] sending coins to a multisig throws exceptions in the db lookup
- [ ] calling `sign` when 4 signatures required doesn't add signatures to the json output, still only the first one is shown, making it impossible to do more than 2 requires signature
- [ ] the order of signature vs public keys is reversed for 1 of the li

[2018-11-05 17:45] jseagrave21 commented on #697
@ixje let me know if you'd like to split up any of the tasks. I'd be happy to help. If you set up a new branch I could make PRs to that before submitting to CoZ Development

[2018-11-06 19:12] jseagrave21 commented on #703
Great work! 🎉

[2018-11-06 19:12] #703 closed

[2018-11-07 07:19] xxedocxx opened #707 "Bootstrap file permission"
It returns:

Could not download: 403 Client Error: Forbidden for url: https://s3.us-east-2.amazonaws.com/cityofzion/bootstrap_main/Main292952.tar.gz%20

[2018-11-07 07:40] ixje commented on #707
fixed. It was not the permissions, but I messed up the link. It should have been Main292952->1<-.tar.gz

[2018-11-07 07:40] #707 closed

[2018-11-07 21:41] skinderis opened #711 "np-api-server after some time won't sync (it gets stuck)"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
Yes.
- What is the problem?
Blockchain syncing gets stuck
- Include a screenshot if it makes sense.

[I 181107 21:17:22 threading:864] [MainNet] Block 2891714 / 2935358
[I 181107 21:17:37 threading:864] [MainNet] Block 2891714 / 2935358
[I 181107 21:17:52 threading:864] [Mai

[2018-11-08 11:37] dethos commented on #711
@skinderis this issue is already being discussed on https://github.com/CityOfZion/neo-python/issues/492

I think we should close this issue and continue the conversation there.

[2018-11-08 16:07] ixje commented on #711
please discuss in the issue provided by dethos. We're aware of it and I'm testing some improvements as we speak. Can hopefully get them out in the coming days if they've proven successful.

[2018-11-08 16:07] #711 closed

[2018-11-08 16:08] ixje commented on #677
closing due to inactivity. Feel free to continue discussion and I can re-open it.

[2018-11-08 16:08] #677 closed

[2018-11-08 16:58] xxedocxx opened #713 "getaccountstate returns different schema"
### Current behavior
Balances returns in object.

### Expected behavior
It is supposed to return in array. Because neo-cli does.

**From Neo python**
balances:
{
 '0x602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7': '14.00251105',
 '0xc56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b': '2.0'
}
**From Neo cli**
balances: [ [Object], [Object] ] } }

### How to reprodu

[2018-11-09 11:43] dethos commented on #713
Since the objective of `neo-python` is supposed to be a full port of `neo-cli` and as stated on [previous comments ](https://github.com/CityOfZion/neo-python/pull/664#issuecomment-431571907) people should be able to "seamlessly switch" from one to another, it must receive the same inputs and return the same outputs, so I do think this is something that this should be fixed.

[2018-11-09 12:17] dethos commented on #273
Not sure if this issue still serves its purpose. New problems with the RPC usually get a separate issue (plus discussion) of their own.

[2018-11-09 12:35] dethos commented on #189
`getapplicationlog` seems to no longer exist on [version `2.9.0` of `neo-cli` documentation](http://docs.neo.org/en-us/node/cli/2.9.0/api.html). Perhaps it should be removed from the list, no?

[2018-11-09 13:39] jseagrave21 commented on #713
@dethos the only problem with your argument is that your example is for a RPC method which is planned to not be included in the default JsonRpcApi like it is in neo-cli (see @ixje 's review here https://github.com/CityOfZion/neo-python/pull/633#issuecomment-423770436)

In my opinion, neo-python is striving to be the best version of neo-cli. Just my opinion.

[2018-11-09 13:46] dethos commented on #713
The comment is on a topic related to `dumpprivkey`, but the observation about maintaining a similar interface to the user is general. Nevertheless lets wait to see what other people think.

[2018-11-09 15:48] xxedocxx commented on #713
It already has broke some dapps who uses the rpc api and relying on nodes from http://monitor.cityofzion.io/

[2018-11-09 16:02] jseagrave21 commented on #713
@xxedocxx I didn't know that. Sounds like this fix is definitely necessary then. I guess in my perfect world I would have suggested neo-cli update their RPC method to match neo-python instead of the other way around lol.

[2018-11-09 18:31] ixje commented on #713
Yes at least for the RPC side the idea is that they can seamlessly switch from one to the other, so this needs a fix if it deviates.

The exclusion of `dumpprivkey` from the default interface is to prevent getting blamed for incompetence of the user. I'm not going to sit back while users mess up their setup and get wrecked due to including some stupid dangerous method in the default interface.

As

[2018-11-13 21:47] jseagrave21 opened #717 "build_raw_transactions.py relies on an active blockchain node"
### Current behavior
_NOTE: This issue is carried over from an unresolved issue from #dev-general on Discord_

User @amir reported receiving this error while trying to build a raw transaction per the example:
[code]

After investigating, I found the problem here:
https://github.com/CityOfZion/neo-python/blob/f003f0a66cdd10cef91f30a6cda5549844ebd013/neo/Core/TX/Transaction.py#L719-L721

### Expecte

[2018-11-15 15:03] jseagrave21 commented on #717
This issue has been addressed! :tada:

[2018-11-15 15:03] #717 closed

[2018-11-15 15:24] #655 closed

[2018-11-15 16:14] ixje commented on #701
When I go to that page and download the "supposedly" `mct-privnet.avm` I indeed can't import token. Reason being is that it's actually a token, but html page. I think it's wrongly linked @hal0x2328

[code]

If i get it from this link instead, then it is a valid token
[code]

And then importing will also work
[code]

[2018-11-15 16:14] #701 closed

[2018-11-15 17:21] jseagrave21 commented on #697
@ixje You are right that this is indeed fixed. However, my proof was going to be the actual successful test of `parse_and_sign` which was what I was trying in the beginning. Should I close this issue or leave it open until PR #716 is successful?

[2018-11-15 17:23] jseagrave21 commented on #701
Whoa! Good find! @ixje

[2018-11-15 19:46] dauTT commented on #655
Woh! now neo-python description on pypi.org looks really professional!! :+1:

[2018-11-17 16:32] haighio commented on #604
I'll take a look at this :)

[2018-11-18 17:09] jseagrave21 opened #721 "Enabling P2P breaks RPC server"
### Current behavior
I edited `neo/data/protocol.mainnet.json` and set `"AcceptIncomingPeers": true,` and ran `python setup.py install` again. Then I started my RPC server normally. After starting, my RPC server has not advanced a single block in blockheight. It also has 0 connected peers. And, it will not respond to any time of request. Here is the last 30 min of logs:

[code]

### Expected behav

[2018-11-19 09:00] ixje commented on #721
AcceptingIncoming peers at this point is not advisable. Parts of the code are not threaded causing your RPC server to hang when others are requesting data. This data requesting can only happen when that flag is set to `True`. We learned this the hard way. I first want to make the network part stable without incoming clients, then figure out how to not block on incoming requests. There are many mov

[2018-11-19 09:03] jseagrave21 commented on #721
Thank you for the feedback. Let me know if I can help!

[2018-11-21 15:32] jseagrave21 commented on #618
@ilkericyuz this is not an error. The notification means that the multisig address requires more than one signature which is specified when it is created see
https://github.com/CityOfZion/neo-python/blob/e3780126f9cf8175f9f3c7ad27f36f2baae20508/neo/bin/prompt.py#L121
In order to relay the tx you initiated the other signing wallets need to sign the tx with `sign <json tx>`

[2018-11-23 05:46] jhwinter commented on #701
Thanks! Sorry about that. That's my goof.

[2018-11-26 10:11] ixje commented on #624
I gave a moment of thought about how we could group commands.

[code]

It's a first idea. I'm open to input, changes. The above would give a base help output of
[code]

[2018-11-26 10:14] ixje commented on #623
I gave a moment of thought about how we could group commands.

[code]

It's a first idea. I'm open to input, changes. The above would give a base help output of
[code]

[2018-11-26 13:46] ixje commented on #623
@jseagrave21 I know you're eager looking for stuff to do. The plugin base is merged into the `refactor-prompt` branch, so we can start migrating commands to that branch according to the above structure. If you encounter a reason why the above structure doesn't work or does not make sense then let's discuss.

[2018-11-26 13:55] LysanderGG commented on #623
@ixje @jseagrave21
I'd suggest a markdown checklist that we could check when starting to work on a command so that we don't get to be two working on the same.

[2018-11-26 14:17] ixje commented on #623
Good point. I created a todo list in the original issue. I don't think you guys can update it, but I can keep track of that. We'll have to post here in the comments to let each other know what command or command group we picked up to migrate to avoid conflicts/double work.

[2018-11-26 21:07] jseagrave21 commented on #623
1. Am I right in assuming from this https://github.com/CityOfZion/neo-python/blob/9b44392d370c3be9447786c06e53efd7d17be0bf/neo/Prompt/Commands/Wallet.py#L32-L35
the corresponding commands are completed?

2. I would like to try to complete `send` and `sendmany`.

[2018-11-27 00:48] jseagrave21 commented on #623
@LysanderGG I like keeping them in the same folder. That is the example I have been following.

Also, @LysanderGG I can't get `wallet` to work it gives me this error:
[code]

[2018-11-27 01:12] LysanderGG commented on #623
@jseagrave21
Same folder but different files?

`wallet` is the only command I didn't test, I'll fix later today. Thank you!
The code in `prompt.py` doesn't handle 1 word commands properly.

`wallet verbose` should work.

[2018-11-27 01:18] jseagrave21 commented on #623
`wallet verbose` does work

[2018-11-27 04:50] jseagrave21 commented on #623
@ixje

How about "contract" for the new category.
Then the only change I would make would be from `import contract` to `contract import`..

[2018-11-27 09:19] ixje commented on #623
I like the perspective of "contract" 👍 . The only small worry I have is with `contract` in the `show` group . How about calling it `sc` for `smart contract`? Then the description can be something like `smart contract development` and we can change `import contract` to just `import` such that you get `sc import {parameters}` (along with `sc build`, `sc testinvoke` etc, nice and short for already lo

[2018-11-27 09:41] jseagrave21 commented on #623
@ixje I actually thought that having `contract` in the show group validated that contract meant "smart contract". I thought about `sc` or `smart contract` as well but thought that `contract` was better because their is already presidence for its use.

[2018-11-28 07:16] Maslan501 opened #729 "neo wallet api"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
- What is the problem?
- Include a screenshot if it makes sense.

### Expected behavior

- What should be happening?
- Include a screenshot if it makes sense.

### How to reproduce

- Please explain the steps to reproduce the problem. If you are having an issue with your mac

[2018-11-28 07:16] #729 closed

[2018-12-02 22:42] dethos commented on #624
So do you know if we can achieve the "goal" with all the described wishes using the current `prompt_toolkit` package? Changing it might require a substantial amount of work.

Aside of the PR #623 for the plugin based approach, is there any work done on this matter? I might try to help here.

[2018-12-03 06:56] ixje commented on #624
I don't know if `prompt_toolkit` would be capable. I just know that `urwid` is, as that's what `mitmproxy` uses and we could peek a bit there how they solve issues. I really think their UI looks nice and a lot of windows they use could be applicable for here.

The thing that bothers me with `prompt-toolkit`is that their `2.x` version has some "double enter" bug when trying to run it under `PyCharm

[2018-12-03 23:37] LysanderGG commented on #623
@jseagrave21 👍  Thank you!
I will keep on working on the wallet commands: finish the test PR and move other commands.

[2018-12-04 06:51] jseagrave21 commented on #623
@ixje I think we should have `search` as a separate method group. I foresee us adding more search methods as NEO's complexity/accessibility increases. So, for now:

- [ ] search
  - [ ] asset {query}
  - [ ] contract {query}

Thoughts?

[2018-12-04 08:11] senhanxiao opened #734 "Can I use neo-python to transfer NEO?"
Can I use neo-python to transfer NEO?

[2018-12-04 08:26] senhanxiao opened #735 "How to transfer NEO in python?"
How to transfer NEO in python?

[2018-12-04 09:45] kentarohorie opened #736 ""import token {contract hash}" not work"
### Current behavior
- neo-python v0.8.2
- What is the problem?
  - After build and import contract, I can't "import token {contract hash}"
- Include a screenshot if it makes sense.

This is log.
Default error message is "Could not import token"
Error place is
neo/Wallets/NEP5Token.py 99 line and I print this log.

[code]

I confirmed all nep5 methods and other my writing methods work expectedly.

[2018-12-04 09:49] kentarohorie commented on #734
You can.

[code]

you can find help by "help" command in np-prompt

this is example

[code]

[2018-12-04 09:50] kentarohorie commented on #735
#734

[2018-12-05 06:51] #735 closed

[2018-12-05 06:52] ixje commented on #734
thanks for answering 👍

[2018-12-05 06:52] #734 closed

[2018-12-05 07:02] ixje commented on #736
Are you using a self-made NEP5 token contract or is it based on a template contract like NEX, Moonlight, MCT?

I'm assuming you're using a private network. Can you please share the console log starting from the `build` command, to `import contract`, to `import token`. The information of using those commands + their return values should give a good idea of a possible root cause. Thanks

[2018-12-05 08:05] ixje commented on #623
Guy's please keep the PR's small, about 3-4 commands max per PR. Judge for yourself how many lines of code+test need to be reviewed and adjust accordingly. If a group has a lot of commands, then stage the PR's in sequence or get the group base in and then PR the subcommands separately.

Keep in mind that just because something was already tested in the old code base, doesn't mean they shouldn't ha

[2018-12-05 09:42] kentarohorie commented on #736
@jseagrave21

Yes, I retry at least 5 times or more.
I repeated build, import contract, deploy, import token.

I suspect my token's have problem because I can import token nex ico template.
So, I want to know reason why I can't import my token.

I confirmed deference between nex ico template and mine, and "import token"'s mechanism, but I can't resolve

[2018-12-05 10:00] ixje commented on #736
It is impossible to tell without any reproducible code. Can you share your contract code so we can try to debug/help you?

[2018-12-05 15:14] jseagrave21 commented on #623
@ixje  Could you update the original issue to reflect

- [ ] search
  - [ ] asset {query}
  - [ ] contract {query}

?

[2018-12-06 05:36] kentarohorie commented on #736
@ixje

This is commands and log.
https://gist.github.com/kentarohorie/140efd1b9a6d6614f04dea2501702e1c

I want to share all code but I can't because of client...sorry
so, what part of the contract code do we need for debug?

thanks for your help

[2018-12-07 06:19] kentarohorie commented on #736
this is the output.

[code]

I suspect other reason.
I confirm this bug occur in neo/Wallets/NEP5Token.py 99 line.

[code]

[2018-12-07 06:45] senhanxiao opened #743 "Has anyone successfully called the example1 method in the build_raw_transactions file?"
Why raw_tx deserializes and finds scripts=[]?

[2018-12-07 10:18] ixje commented on #736
The error message doesn't give enough information to reproduce the error or solve the issue. All it says is that `sc_event.tx_hash.ToString()` fails because `tx_hash` is `None`. Why that is, no clue.

I'd have to see the contract code in order to help you debug. We have many NEP5 tokens working just fine so that tells me there's something wrong with your code.

If it helps you can share the code p

[2018-12-07 10:29] ixje commented on #743
Have at look at the file in the development branch. There have been some small updates including steps how to validate the correct working; https://github.com/CityOfZion/neo-python/blob/development/examples/build_raw_transactions.py

Second, if you want help then at least take the time to follow the guidelines and provide the necessary information such that we can help.

[2018-12-07 10:29] #743 closed

[2018-12-07 10:31] ixje commented on #618
Closing due to inactivity. If you think this issue still persists comment here and we can re-open the discussion

[2018-12-07 10:31] #618 closed

[2018-12-07 13:51] senhanxiao commented on #743
{'txid': '0xff41c1b0f4b14942fcb1e2119fd3a82fbb36beb28b1d4dc05a744e16b5c39837', 'size': 242, 'type': 'ContractTransaction', 'version': 0, 'attributes': [{'usage': 144, 'data': '4d792072617720636f6e7472616374207472616e73616374696f6e206465736372697074696f6e'}, {'usage': 144, 'data': '4d792072617720636f6e7472616374207472616e73616374696f6e206465736372697074696f6e'}], 'vout': [{'n': 0, 'asset': '0xc56f3

[2018-12-11 08:23] saltyskip opened #746 "Get Contract State returns incorrect data model"
### Current behavior
Calling RPC command get contractstate on a neo python node currently does not return the same data as neo-cli.

Using this RPC command
[code]
will recieve this output
[code]

### Expected Behavior
The desired result should be the same one as NEO CLI node
[code]

### How to reproduce
Execute the RPC command in any client like insomnia by targeting a neo python node like
http://

[2018-12-11 08:48] ixje commented on #746
Thanks for the report!

So to summarise;
- there is no `result.code` object anymore
- `result.parameters` is now a list of argument type name strings
- `result.returntype` is now a argument type name string
- `result.properties` object does not have a `payable` key. (I actually think we should keep this, as I'm sure that will get added to neo-cli sooner or later)

@jseagrave21

[2018-12-11 14:44] jseagrave21 commented on #746
@ixje I am working on this now.

[2018-12-11 18:16] jseagrave21 opened #749 "`getrawtransaction` returns the wrong values"
### Current behavior
`getrawtransaction` returns the wrong information

RPC query:
[code]
neo-cli v2.9.2 return:
[code]
neo-python v0.8.2:
[code]
### Expected behavior
for neo-python:
- "sys_fee" should be `490`
- "net_fee" should be `0`
- "gas" should be `490`

### How to reproduce

Compare the query between a node running neo-cli v2.9.2 and a node running neo-python v0.8.2. (see https://happynod

[2018-12-11 20:02] ixje commented on #749
which network is this tx from? I couldn't find it on neoscan main or testnet 🤔

- `sys_fee` is scientific notation but for some reason should be multiplied by 100M, it probably a fixed8
- `net_fee` i'm guessing that this person did not resync his db when upgrading neo-python version, as you might remember around version 0.7.6 (could be bothered to look up) we had some DB storage issue. It would be

[2018-12-11 20:14] jseagrave21 commented on #749
This transaction is from mainnet: https://neoscan.io/transaction/EA39A3BBD678714DC7E3342AF8CB02444346A95B318B5D50F17FAB1D408116D9

[2018-12-12 15:08] ixje commented on #746
@saltyskip fixed in dev branch thanks to @jseagrave21 👍

[2018-12-12 18:12] ixje commented on #749
found the issue. `net_fee` was wrong because `sys_fee` was returning the wrong value. See PR for explanation.

[2018-12-12 18:20] ixje commented on #694
The discussion seems to be inactive. Closing for now. If you want to continue let me know and I can re-open

[2018-12-12 18:20] #694 closed

[2018-12-12 18:22] ixje commented on #273
yup, what dethos said. People don't look or find this, they just create new ones. I also think that's better at this point in time

[2018-12-12 18:22] #273 closed

[2018-12-12 18:23] ixje commented on #189
deviations from the NEO JSON api are generally reported in separate issues by users. I don't think this post has any use anymore.

[2018-12-12 18:23] #189 closed

[2018-12-12 18:24] ixje commented on #303
Closing due to inactivity and issue maintenance. If this is still a pressing issue let me know and I'll re-open it.

[2018-12-12 18:24] #303 closed

[2018-12-12 19:32] jseagrave21 commented on #694
@ixje Once "extended" methods are transferred to plugins. Perhaps these methods can live on as "plugins" in my neo-python fork?

[2018-12-12 20:41] ixje commented on #694
absolutely. I can add your repo to the readme for others to find plugins at

[2018-12-13 19:07] jseagrave21 commented on #623
@ixje Have you decided on a label for the developer's group? I think I would like to tackle that next but I could also work on the config group first.

[2018-12-17 13:44] ixje opened #755 "Support --change-addr and --to-addr for claim command"
### Current behavior
The `claim` command does not support specifying to which address the claim is send, nor to which address potential change is send.

### Expected behavior
We are refactoring the CLI commands according to this issue (#623) in the `refactor-prompt` branch. Once that issue is resolved we should enhance the `claim` command to support the above 2 parameters.

[2018-12-18 06:17] jseagrave21 commented on #623
@ixje @LysanderGG Based on a PM conversation with @ixje, the developer's group will be named the `sc` group. I am working on refactoring it now.

[2018-12-18 06:36] jseagrave21 commented on #623
@ixje @LysanderGG How do we want to implement commands which don't fall under any of the current groups? For example, I just found these two:
https://github.com/CityOfZion/neo-python/blob/e3780126f9cf8175f9f3c7ad27f36f2baae20508/neo/bin/prompt.py#L1018-L1021

[2018-12-18 07:20] ixje commented on #623
Let's collect them for the time being and decide in the end

[2018-12-18 07:57] jseagrave21 commented on #623
@ixje @LysanderGG when attempting to refactor `build` and `load_and_run`, I run into issues with `ParameterDesc`. Within the former commands are required parameters for optional commands which is not currently supported (i.e. there is no logic to yield the current "help" line: `build {path/to/file.py} (test {params} {returntype} {needs_storage} {needs_dynamic_invoke} {is_payable} [{test_params} or

[2018-12-18 08:03] jseagrave21 commented on #623
While we are figuring this out, I think I might try to work on the `config` group since it should be pretty straightforward.

[2018-12-18 08:12] ixje commented on #623
fyi; i'm looking into the `wallet Token` group.

[2018-12-18 08:37] LysanderGG commented on #623
Referring to the list here (if nothing is missing)
https://github.com/CityOfZion/neo-python/blob/development/neo/bin/prompt.py#L95

It seems that `build` and `load_run` are the only commands with this kind of behaviour.
`wallet token xxx` seems fine because it is possible to have multiple levels of subcommands.
So it would be
[code]

I have 2 suggestions that would work with the current `CommandBa

[2018-12-18 08:53] jseagrave21 commented on #623
The problem I see is that `BuildAndRun` and `LoadAndRun` both feed into `DoRun`. Unless we want to revise their functionality, the previous options will not work.

[2018-12-18 09:00] ixje commented on #623
I'd favour option 1 over option 2.

@jseagrave21 can you elaborate what problem you foresee with those commands both calling `DoRun`?

[2018-12-18 09:11] jseagrave21 commented on #623
It may be a simple issue (I haven't thought about it too much) but the inputs are read based on position currently. So, making `arg[1]` variable will introduce errors and the need for new logic.
https://github.com/CityOfZion/neo-python/blob/e3780126f9cf8175f9f3c7ad27f36f2baae20508/neo/Prompt/Commands/BuildNRun.py#L46-L77

[2018-12-18 09:39] ixje commented on #623
I see your point now. I think we should adjust `DoRun` to work with our intentions instead of trying to work around it.

[2018-12-18 09:54] jseagrave21 commented on #623
Okay, so is option 1 the final verdict?

[2018-12-18 14:55] jseagrave21 commented on #623
I have made some significant progress on the `config` group. I will finish it before moving on (potentially back to the `sc` group).

[2018-12-20 12:38] ixje commented on #623
picking up `wallet import`, specifically `nep2` + `wif`

[2018-12-20 15:57] ixje commented on #623
picking up `wallet import watchaddr`

[2018-12-21 08:09] ixje commented on #623
picking up `wallet import multisig_addr`

[2018-12-22 13:39] ixje commented on #736
Issue appears inactive. If you wish to continue the discussion please comment here and I'll re-open.

[2018-12-22 13:39] #736 closed

[2018-12-23 12:52] ixje commented on #623
picked up `token approve` and will also take `token allowance`.

[2018-12-24 07:45] ixje commented on #623
quickly doing `config nep8` to finish that group

[2018-12-24 08:57] LysanderGG commented on #623
picking up `wallet import token` and `wallet import contract_addr`

[2018-12-24 09:00] jseagrave21 commented on #623
Hey guys I am moving across country this week and the next so I will try to help with reviews where I can and small stuff possibly but I don't think it would be fair for me to claim any additional commands right now.

[2018-12-24 09:08] LysanderGG commented on #623
@jseagrave21 got it, thank you for the notice.
Thank you so much for all the help on this issue!

Have a good holiday! 🎅

[2018-12-24 09:09] jseagrave21 commented on #623
Thanks @LysanderGG! You too!

[2018-12-24 10:40] ixje commented on #623
TODO: both `search contract` and `search asset` without arguments throw stack traces. Perhaps due to merging, but we need to fix it.
[code]

[2018-12-24 14:56] jseagrave21 commented on #623
I should be able to handle this @ixje @LysanderGG

[2018-12-26 10:57] MonarthS opened #776 "Unable to store array in smart contract"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
**Ans**: Want to store Array in smart contract.

- What is the problem?
**Ans**:

`Put(context, "users", [1,2,3])`

Not storing array, showing error :` Trying to get bytearray integer Array
`

![image](https://user-images.githubusercontent.com/40236229/50443750-bfa44100-092a

[2018-12-28 08:47] LysanderGG commented on #604
@haighio Hello! Any progress on this issue?
Otherwise I'd be happy to take a look during the holidays.

[2018-12-28 17:00] haighio commented on #604
Hey! I got stuck with a project at work in the lead up to the holiday, but
going to carry on finishing it this week :)

On Fri, Dec 28, 2018 at 8:47 AM Guillaume George <notifications@github.com>
wrote:

[2018-12-31 07:46] ixje commented on #604
great! Looking forward to your PR

[2018-12-31 10:49] ixje opened #781 "Support named parameter type entry for sc build commands"
### Current behavior
Do after #623 is merged.

Currently the `sc build_run` and `sc load_run` commands require numeric entry of the contract parameter types defined in https://github.com/CityOfZion/neo-python/blob/e3780126f9cf8175f9f3c7ad27f36f2baae20508/neo/SmartContract/ContractParameterType.py#L29-L39

### Expected behavior
We can improve the user experience by allowing for named inputs, such t

[2019-01-02 08:59] ixje commented on #623
I'll pickup `config debugstorage {on/off/reset}`

[2019-01-03 06:05] ixje commented on #623
picking up the final command `testinvoke {contract hash} etc` 🎉

[2019-01-04 12:20] ixje commented on #623
I'm going to update the documentation

[2019-01-05 14:47] jseagrave21 commented on #605
@ixje Okay, I will try to re-create it again. Only on the `refactor-prompt` branch now.

[2019-01-05 16:15] ixje commented on #623
I'll update #731 and then I think we can consider this issue done. We could arguably do more refactoring, but perhaps it's time to merge and get a new version out. This is already a major update and great improvement.

Thoughts? @jseagrave21 @LysanderGG

[2019-01-05 16:17] jseagrave21 commented on #623
What about the first ToDo? Is there a reason to merge before it is finished? We could split up the tasking for a quick push before the finish line?

[2019-01-05 16:37] ixje commented on #623
I think the feedback will come once the community starts using it. I want to merge it into dev first, wait for a day of 4 so people can try/report stuff. Then merge to main.

[2019-01-05 16:43] jseagrave21 commented on #623
Sounds great!

[2019-01-05 18:18] jseagrave21 commented on #623
Minor comment:
In `wallet address create` the first param is "number of addresses", which doesn't really stick with the whole one-word rule.
I recommend converting to "integer" for
[code]

[2019-01-05 18:46] jseagrave21 commented on #605
While trying to re-create this issue, I have found that I am unable to use the `sendmany` function as before. I receive no errors, so I am unsure what is happening. Here is what I did. Please note the change in synced balances. If I try to send another transaction, I receive an "Insufficient Funds" error since I have no more available `vouts`. Here is what I did:
[code]

[2019-01-05 19:16] jseagrave21 commented on #755
@ixje does it make sense to have both a `--change-addr` and a `--to-addr`? I think the `--change-addr` introduced in `neo-cli` makes sense if you make partial GAS claims; however, we decided not to support making partial gas claims awhile back. The default address used by `ClaimGas` is the default change  address as seen here:
https://github.com/CityOfZion/neo-python/blob/4c1e0dc4068cf84e3f8069860

[2019-01-06 06:02] LysanderGG commented on #781
I'd like to implement this.

I would suggest both complete names and some abbreviations, for instance "sig", "bool", "int", "str", "arr"

[2019-01-06 07:32] ixje commented on #755
The partial GAS claim referred to having e.g. "100 unclaimed gas" and only wanting to get e.g. only 50 of that released. This would allow you to release all 100, but send 90 to address_x and 10 back to yourself.

With all the UTXO mess it might be smart to simplify it until there's a real hard request for it. So just having a `--to-addr` for the time being sounds like the right thing.

[2019-01-06 07:56] ixje commented on #781
👌
ping @jseagrave21 to avoid double work; as you also indicated you might want to pick this up.

[2019-01-06 13:08] jseagrave21 commented on #781
@LysanderGG go for it! I started investigating yesterday but don't have anything written yet. cc @ixje

I like that it would support both. The original issue was that we didn't want the user to have to remember anything proprietary.

My original thought was requiring a list entry (like params for RPC)
So, replace
[code]
With
[code]

Also, I was toying with the idea of still supporting the original

[2019-01-06 13:10] jseagrave21 commented on #755
Okay, I would like to work on this.

[2019-01-06 19:39] jseagrave21 commented on #755
@ixje I am ready to PR the `--to-addr` addition. Per your guidance above, I will wait until #623 is merged.

[2019-01-07 09:50] eladelrom opened #800 "Unable to import contract. Error: "Non-hexadecimal digit found""
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
On branch development, up to date.
- What is the problem?
Unable to import contract getting "Non-hexadecimal digit found".  See messages below;
[code]
- Include a screenshot if it makes sense.

### Expected behavior

- What should be happening?
Prompted to fill out propertie

[2019-01-07 12:18] jseagrave21 commented on #755
After reading https://github.com/neo-project/neo-cli/pull/270#issue-237609402 and looking at the code again, I think what they are calling the "change address" is actually what we are calling the --to-addr. What do you think, @ixje?

[2019-01-07 16:22] ixje opened #801 "sendmany with alternating asset input produces invalid tx"
### Current behavior
with `sendmany` you can create multiple transfers in a single tx. In a very specific scenario a tx is created that is not accepted by the network. I've done the following tests

[code]

From these tests I was able to conclude that whenever we switch between neo/gas/neo or gas/neo/gas we end up calculating the wrong return value for the output that holds the "change funds". To

[2019-01-08 11:36] ixje commented on #801
found the issue of a wrong hash. The `Hash` function of a TX tries to be smart by not recomputing itself
https://github.com/CityOfZion/neo-python/blob/e3780126f9cf8175f9f3c7ad27f36f2baae20508/neo/Core/TX/Transaction.py#L283-L287

We triggered a hash computation before prompting for the password for debugging purposes. Then when we relay the tx and print `tx.Hash` its hash was calculated before app

[2019-01-10 03:53] jseagrave21 commented on #605
@ixje on a fresh pull of the `refactor-prompt` branch, I was unable to reproduce the previously existing behavior. I really appreciated the changes in #796, which I could use to verify my expectations after the confirmation was confirmed. Also, I can verify that the issue solved by #803 was actually resolved. I consider this issue resolved 🎉

[2019-01-10 03:53] #605 closed

[2019-01-10 09:07] ixje commented on #605
Thanks for checking all that and reporting on it 💪

[2019-01-10 12:13] ixje commented on #800
Hi,
Your issue has been fixed in the latest `development` branch pushed just moments ago. Please be aware that this latest version introduces changes to the cli commands. This means;
- `build` is now `sc build`
- `import` is now `sc deploy`

Please consult the `help` output of the individual commands for their usage as some input parameters might have changed order from the old commands.

[2019-01-12 09:04] eladelrom commented on #800
I can confirm I was able to build and deploy as expected.   Thanks for the quick turn around.

[2019-01-16 10:42] #801 closed

[2019-01-16 10:42] #755 closed

[2019-01-16 10:42] #749 closed

[2019-01-16 10:42] #746 closed

[2019-01-16 10:43] #713 closed

[2019-01-16 10:43] #697 closed

[2019-01-16 10:43] #623 closed

[2019-01-16 14:08] LysanderGG commented on #84
I checked out pyup.io (see #819)
@ixje do you have the necessary credentials to set-it up now?

[2019-01-18 01:44] LysanderGG commented on #84
Note: we got a lot of merge requests to `master` because it is the current default branch.
Imo the default branch should be changed to `development` (merge requests will also default to merges to `development`).

[2019-01-19 22:55] jseagrave21 opened #859 "Individual unittests fail locally"
### Current behavior
After the `classmethods` seen here https://github.com/CityOfZion/neo-python/commit/2d618455230b00586d9f6c4cabe075d4a08994f9 were removed, I can no longer successfully conducted individual unittests locally without receiving an error similar to the following:
[code]

Re-adding the `classmethods` mentioned above allows the individual unittests to pass; however, I am not sure if

[2019-01-23 09:19] corck opened #866 "Sending asset fails in latest master and development branch"
### Current behavior
I just tried to send my received testnet Gas from the multisig contract to my address. It fails with "Verifying tx result ... failed". Same for sending from normal addresses.
Switching to an older branch I had (Nov 17) and sending from that version works.

UPDATED:
Seems like it is not only affecting multisig contracts, but any transaction that is using this imported NEP2 addr

[2019-01-23 10:02] Qiao-Jin opened #867 "unresolved external symbol "public: void __cdecl leveldb::WriteBatch::Clear(void)""
I am trying to install neo-python on WIN10 system according to [Installation (Windows)]https://neo-python.readthedocs.io/en/latest/installwindows.html#troubleshooting).

Every step is strictly same as this introduction. But when I was building plyvel with:

python setup.py build_ext --inplace --force

I ran into the following errors. This is weird cuz I have copied leveldb header files to

C:\Prog

[2019-01-25 10:04] Qiao-Jin opened #870 "Is there doc on how to start a private chain by neo-python?"
I am currently trying to start a private chain by NEO-python. But there seems no document on building up private chain on NEO-python.
Besides, is there detailed info on the definition of items in protocol config file?  Thx

[2019-01-25 10:05] Qiao-Jin commented on #867
Solved after reopening PC.

[2019-01-26 19:10] jseagrave21 commented on #870
You can follow the readme here https://github.com/CityOfZion/neo-privatenet-docker
Or checkout this article https://medium.com/proof-of-working/how-to-run-a-private-network-of-the-neo-blockchain-d83004557359

[2019-01-26 19:13] jseagrave21 commented on #866
@corck I have been unable to replicate your experience so far in a privatenet. I see no reason why the Testnet experience would be different and I will try there as soon as Testnet comes back online.

In the meantime, could you provide your inputs (i.e. the exact commands you used) when the tx failed?

[2019-01-26 19:16] jseagrave21 commented on #867
If this issue is resolved could you close it?

[2019-01-28 02:11] Qiao-Jin commented on #870
Thanks very much!

[2019-01-28 02:11] #870 closed

[2019-01-28 02:11] #867 closed

[2019-01-28 07:12] corck commented on #866
sorry, waiting for the testnet to comeback as well to confirm as I need to send funds again

command was
`wallet send gas TOADDR 10 --from-addr=MULTISIGADDR`

seems like `wallet claim` is failing as well

[code]
hope this helps

[2019-01-28 07:15] corck commented on #866
will do some more testing when Testnet is up again

[2019-01-28 11:34] jseagrave21 commented on #866
Okay, I will try to recreate with Testnet.

[2019-02-02 18:11] jseagrave21 commented on #866
@corck

I tested today in testnet and everyting worked fine. First, I made sure to merge https://github.com/CityOfZion/neo-python/pull/860 with my local branch. Then I imported the address, no problem. Then I rebuilt my wallet and sent the funds to default address, no problem. Then I claimed gas, no problem. I am not sure how to reproduce your issue, except that you may have imported the wrong add

[2019-02-04 19:47] corck commented on #866
I sent now all my Gas from the multi sig address to the my other imported NEP2 address using the old version.
Now I switched to 0.8.3 and am trying to send from that address but it fails, with the error above.

Just created now a new wallet (bug.json) and imported again the NEP2 address, waiting for the wallet to sync and will try again to send the 1 gas to another address.

[2019-02-05 04:20] okayu8 opened #879 "I pulled the Docker image and used it, but I can not synchronize the wallet."
Hello. Please do not hesitate to contact me because my private network connection is not good.

I docker pull  Ver: 0.8.3 image and use it.
https://hub.docker.com/r/cityofzion/neo-privatenet?ref=login

After I run the image, I copy the local Smart contract to the container and erase the old block chain data.
[code]

Then start the interface with the `neopy` command.

When opening the wallet with t

[2019-02-05 06:38] ixje commented on #866
I just applied for testnet GAS such that I can try to debug from a point of view as close as possible to yours.

[2019-02-05 06:44] corck commented on #866
ok so here what I did right now
[code]
really odd.

[2019-02-05 06:49] corck commented on #866
here whats `wallet` prints out for my newly created wallet

[code]

[2019-02-05 06:50] ixje commented on #879
The docker image you refer to is not `neo-python`, but a private blockchain docker image. I don't know why it includes `neo-python` in the image, but it is not `neo-python` version `0.8.3` but `0.8.2`.

With the limited `neo-python` resources we have at th moment I cannot spent time on debugging `0.8.2` issues. My recommendation is to install `neo-python` `0.8.3` from git and connect that to your

[2019-02-05 06:55] jseagrave21 commented on #866
@corck I see nothing immediately wrong with your wallet. Perhaps it is a `neo-local` issue?

[2019-02-05 07:13] corck commented on #866
@jseagrave21 not using neo-local here. Have a dedicated server running with a cloned neo-python github repo, that keeps the testnet up to date.

[2019-02-05 07:17] corck commented on #866
So switching back to an older version e3780126f9cf8175f9f3c7ad27f36f2baae20508, nov 17th, with updated seed list, sending gas works as expected.

[code]

[2019-02-05 07:40] ixje commented on #866
Can you please apply this patch and re-run the test that resulted in
[code]

That should give at least a bit more information where it is failing in the verification.
[code]

[2019-02-05 08:54] corck commented on #866
Output
[code]

[2019-02-05 09:11] okayu8 commented on #879
@ixje
Thank you for your kindness.
I'm sorry, apparently I seem to have made a mistake in the place.

Report it to the following URL.
* https://github.com/CityOfZion/neo-privatenet-docker

Thank you very much.

[2019-02-05 09:11] #879 closed

[2019-02-05 09:15] ixje commented on #879
No problem. If the `0.8.3` version gives you problems, please report them and I'll try to help/resolve.

[2019-02-05 09:47] corck commented on #866
vm to debug:
[code]

[2019-02-13 07:51] ixje opened #881 "Standalone networking"
This is a roadmap milestone item.
See the `Roadmap` project on the side bar for more information where it fits in the bigger picture.

**Rationale**

The first reason for doing this, is that the single threaded nature of python (think GIL) can cause CPU intensive tasks such as Block processing to lock the event reactor very long. [Past experiences](https://github.com/CityOfZion/neo-python/pull/723

[2019-02-13 09:21] ixje commented on #866
I understood from @hal0x2328 that this issue is resolved. Can you please confirm?

[2019-02-13 09:34] ixje opened #883 "Lightweight SDK API"
This is a roadmap milestone item.
See the `Roadmap` project on the side bar for more information where it fits in the bigger picture.
See the `Lightweight SDK API` project on the side bar for a breakdown of items and progress.

**Rationale**

Current users seeking to interact with the NEO Blockchain through Python have a steep learning curve ahead when having to use neo-python (as a result of subo

[2019-02-13 09:35] ixje opened #884 "Update neo-python-rpc with latest RPC calls"
The NEO RPC server is constantly being updated with new calls or output enhancements. The [nep-python-rpc](https://github.com/CityOfZion/neo-python-rpc) project should be updated to support the latest available calls. See the [documentation](https://docs.neo.org/en-us/node/cli/2.9.4/api.html) for available RPC calls.

[2019-02-13 09:41] ixje opened #885 "Determine lightweight SDK API calls"
Create an inventory of useful/required API’s to interact with the blockchain without having to run a full node and propose a structure. The [NeoModules](https://github.com/CityOfZion/NeoModules) structure/module separation has been indicated to be very useful by other users. Try to use that as a reference. For more ideas look at [neon-js](https://github.com/CityOfZion/neon-js/)

The bare minimum f

[2019-02-13 10:19] ixje opened #886 "Create (raw) Transaction builder class"
As part of the Lightweight SDK API we would like to have a class that eases creation of (raw) transactions. A raw transaction can be understood as a serialised `Transaction` that can be send to the network via a RPC node or directly on the TCP network.

The available `Transaction`s and their possible attributes are described in the [documentation](https://docs.neo.org/en-us/network/network-protoco

[2019-02-13 10:34] ixje opened #887 "Improve neo-python-core reusability"
This is a roadmap milestone item.
See the `Roadmap` project on the side bar for more information where it fits in the bigger picture.
See the `neo-python-core reusability` project on the side bar for a breakdown of items and progress.

**Rationale**
Currently many classes and functions in [neo-python-core](https://github.com/CityOfZion/neo-python-core) log errors via the `logzero` package instead

[2019-02-13 10:43] ixje opened #888 "Update to throw exceptions instead of logging errors [np-core]"
This is a TODO for a project (see side bar)

Remove the `logzero` package dependency from [neo-python-core](https://github.com/CityOfZion/neo-python-core) and update the logging calls with raising the appropriate exceptions.
- Do not use the generic Exception class but use the more specific exception classes like `ValueError`, `TypeError` etc ([standard lib exceptions](https://docs.python.org/3/li

[2019-02-13 10:45] ixje opened #889 "Consolidate and aggregate helper functions into np-core"
This is a TODO for a project (see side bar)

Find duplicate helper functions in `neo-python`, consolidate them and move them into [neo-python-core](https://github.com/CityOfZion/neo-python-core) (the functionality is often related to address/script_hash conversions). Aggregate helper functions from neo-python that should be in neo-python-core.

Note: look for `Util` named classes in the various mo

[2019-02-13 11:38] ixje opened #890 "Improve neo-python reusability"
This is a roadmap milestone item.
See the `Roadmap` project on the side bar for more information where it fits in the bigger picture.
See the `neo-python reusability` project on the side bar for a breakdown of items and progress.

**Rationale**
Like with neo-python-core (issue [ref](https://github.com/CityOfZion/neo-python/issues/887)), the main project has a good amount of code that immediately r

[2019-02-13 11:42] ixje opened #891 "Update to throw exceptions instead of logging errors [np-main]"
This is a TODO for a project (see side bar)

Try to remove as much logging errors inside the business logic and raise Exceptions instead. Try to bubble it up to the point the that presentation layer (at this point only a CLI) can present useful and detailed information (if necessary).
- Do not use the generic Exception class but use the more specific exception classes like `ValueError`, `TypeError

[2019-02-13 11:54] ixje opened #892 "Parameterise function signatures"
This is a TODO for a project (see side bar)

The code base has many functions accepting `*args` or `**kwargs` ([example](https://github.com/CityOfZion/neo-python/blob/e561e5b57d4093a9ee0c87a8312d4a4d16f6fd5e/neo/Prompt/Commands/Tokens.py#L620)). The task is to scan for these functions and parameterise these (includes adding docstrings) such that it is more obvious what arguments are required, prev

[2019-02-13 12:01] ixje opened #893 "Remove undocumented “smart code”"
This is a TODO for a project (see side bar)

Remove undocumented “smart code” to reduce user confusion and to give the user the control they need.

[Example 1](https://github.com/CityOfZion/neo-python/blob/e561e5b57d4093a9ee0c87a8312d4a4d16f6fd5e/neo/SmartContract/StateMachine.py#L398-L404):  storing a bytearray of length 20 in a smart contract gets automatically convert to a NEO address.
[Example

[2019-02-13 12:08] ixje opened #894 "Improve data(base) access"
This is a roadmap milestone item.
See the `Roadmap` project on the side bar for more information where it fits in the bigger picture.
See the `improve data(base) access` project on the side bar for a breakdown of items and progress.

**Rationale**
The current used database (`leveldb`) only allows single process access. The idea behind this objective is to improve accessibility to processed data fr

[2019-02-13 12:12] ixje opened #895 "Allow alternative backends"
This is a TODO for a project (see side bar)

- Explore how to better decouple the current database layer.
- Create a database interface to allow swapping back-ends.
   - Clearly document it for others
    - Allow for optional rollback support. This means we’d like to be able to rollback the state to a certain block height.

[2019-02-13 12:14] ixje opened #896 "Add alternative DB support (e.g. Rocksdb/reddis)"
Add support for Rocksdb or another database like Redis. This issue depends on https://github.com/CityOfZion/neo-python/issues/895

Support for Rocksdb was once started by a user and the code is still available [here](https://github.com/CityOfZion/neo-python/issues/157)

[2019-02-13 22:05] corck commented on #866
Starting up a new instance and pulling freshly the code from Github resolved my issues.
I actually haven't figured out what really caused it, I guess its unproducable. Will close.

[2019-02-13 22:05] #866 closed

[2019-02-14 02:37] jseagrave21 commented on #884
@ixje do you still want to exclude `dumpprivkey`?

[2019-02-14 07:28] ixje commented on #884
Yes

[2019-02-18 02:03] okayu8 opened #899 "Deployed with sc command but transaction does not exist"
I deployed the avm file with a new command, sc deploy.

sc deploy test.avm True False False 0710 05

Test deploy invoke successful is displayed,
When you enter the password at the end, tx is displayed.

However, after confirming the transaction with the show tx command, it is returning that tx is not found, it seems that it is not deployable.

Do you know why this is occurring?

neo-python ver : 0

[2019-02-18 07:52] ixje commented on #899
has this been solved by adding the `--fee=0.01` as I saw on #dev-general @ NEO Discord?

[2019-02-18 07:54] ixje commented on #884
Finished. Closing to avoid double work.

[2019-02-18 07:54] #884 closed

[2019-02-18 07:56] jseagrave21 commented on #886
@ixje Could you take a look at https://github.com/jseagrave21/neo-python/blob/raw-transaction-class/neo/Core/TX/RawTransaction.py and let me know what you think? You can see from the commit description that I haven't included any coverage but I wanted to get your initial reaction before I kept working.
If you like what you see, I have not figured out how you would like to implement support for Inv

[2019-02-18 08:34] ixje commented on #886
At first glance looks good. I can't say if the function names might need to be renamed later on though to be inline with the rest of the exposed lightweight API. I had intentionally put #885 above this issue on the project board because I expected to learn from there the API's and naming style we want to support (I don't have the full picture as this point either).

Some random things I noticed in

[2019-02-18 18:30] jseagrave21 commented on #886
@ixje Thank you for the quick feedback. I will keep working on this and hopefully I will be able to merge it with the exposed lightweight API when it is ready.

[2019-02-19 14:21] skinderis opened #900 "Unhandled error in Deferred pubnet"
Runing a node, I am getting the error:
[code]
After the error syncing stops. What might be the problem and how I can automatically continue syncing?

Thanks for the help!

[2019-02-20 08:35] ixje commented on #900
You did not provide the information request by the template and so I cannot answer your question as I'm missing important information to do so. Please update and I can reopen

[2019-02-20 08:35] #900 closed

[2019-02-20 08:48] okayu8 commented on #899
@ixje
thank you.
I did not know that fee is necessary for deploying over 1024 bytes.
I was able to deploy.

[2019-02-20 08:48] #899 closed

[2019-02-20 09:11] ixje commented on #899
It is a recently introduced policy on the NEO blockchain so I can fully understand that you might not have known about it. Glad you were now able to deploy.

[2019-02-20 15:45] skinderis commented on #900
Second error, causing syncing problems:

`[I 190220 14:34:20 threading:864] [MainNet] Block 1545426 / 3392107
[I 190220 14:34:25 LevelDBBlockchain:844] Could not persist block 1545443 reason: Invalid list operation
[D 190220 14:34:26 defer:654] On Persist blocks loop error! [Failure instance: Traceback: <class 'Exception'>: Invalid list operation
    /usr/lib/python3.6/threading.py:916:_bootstrap_

[2019-02-21 00:03] jseagrave21 commented on #886
@ixje I made the corrections per your feedback and have now verified Contract and Claim Functionality. Please see the description for commit https://github.com/CityOfZion/neo-python/commit/db1c1e726b8b6a8e248aea9b8f20bb6f807e26ff

[2019-02-24 00:01] jseagrave21 commented on #886
Token Transfers are now supported. See https://github.com/jseagrave21/neo-python/commit/23e50f199b84375219783e6877a30ad6a305c6a1

[2019-02-24 21:30] jseagrave21 commented on #886
Importing raw transaction is now supported. See c0ee8f83098fc31b6aac030b01280fe0c2cddf23

@ixje I think all of the original objectives for this issue have been met. Please review and let me know what you think. In the meantime, I can work on providing test coverage (I have manually tested every feature at this point).

[2019-02-25 03:23] lock9 commented on #886
Hello, I just tested it, here is my feedback:
- The documentation is very good 👍;
- Instead of having test steps using cURL, could you add an example using sendrawtransaction using a custom endpoint?
- Not sure why: When I call my function in a loop, I get a strange error regarding tx attributes:
[code]
Good job!

[2019-02-25 10:35] ixje commented on #886
Some things I believe we should do at minimum
- support use of custom neoscan servers (now it's all forced to `api.neoscan.io`). This should be configurable such that people can point it to their own instances (e.g. neolocal instance). Try to use a variable for the URL and create constants for the API endpoint locations. That way if we ever need to update an endpoint (e.g. `/v1/get_balance/`) we d

[2019-02-25 19:29] lock9 commented on #886
Hello,

I agree with @ixje, specially about this:

I think almost everyone should develop using their own private network, so I think this feature is absolutely important.

Also:
- I think the name "sourceAddress" is not the best, maybe some kind of "neoscanEndpoint", or equivalent (it's just compatible with neo-scan, I suppose);
- I would add the TxType into the constructor;
- Could you add signi

[2019-02-26 05:27] jseagrave21 commented on #886
@ixje and @lock9 please see 9588aed21a58cf8f9e862679fd8a8cfa778fac5e

[2019-02-26 14:54] jseagrave21 opened #901 "Transaction class instances retain old attributes"
### Current behavior
This issue was first [discovered](https://github.com/CityOfZion/neo-python/issues/886#issuecomment-467148923) by @lock9 and then further investigated by @jseagrave21 and @ixje.

Whenever an instance of a transaction is created the creator defines attributes in this manner:

[code]
From @ixje "The problem with this is that you should not put mutable objects (e.g. a list) as the

[2019-02-27 14:20] ThomasLobker opened #902 "[BUG] Decimal issue with claimable GAS from sys_fee"
### Current behavior
All systems fees in transactions should be distributed to the NEO holders. In neo-python this becomes visible as unavailable GAS and after spending your NEO as available GAS to claim. If you have a wallet with 100M NEO inside, you should be getting the GAS of all systems fees. For example, if someone deploys a contract and spends 490 GAS then this GAS should become claimable i

[2019-02-27 14:24] lock9 commented on #901
The fix provided by @ixje fixes the problem:

[code]

[2019-02-27 14:27] lock9 commented on #901
Actually, it fixed the previous error, but now my transaction doesn't seem to be valid anymore.
http://chain.simpli.com.br:4000/transaction/6f998031dad23856580cb883801f9a2f3a22057ece8581c6fe1cb3a216fe7e68

And it supposed to be:
```scriptBuilder.EmitAppCallWithOperation(address_to_scripthash("Ad83tfsuWxxexhefPzXVpn5vv6oCbLKFEx"), "name") ```

[2019-02-27 15:11] ixje commented on #902
Most likely related to https://github.com/CityOfZion/neo-python/pull/751 (and possibly https://github.com/CityOfZion/neo-python/pull/816). The former is the correct fix when comparing to the neo core [code](https://github.com/neo-project/neo/blob/b5bd56d9a789419fbb4bf861e3f373a2d6685b3f/neo/Network/P2P/Payloads/InvocationTransaction.cs#L17), so it is probably the result of an error propagation thr

[2019-02-27 15:54] ixje commented on #902
reproducing the bug via `neo-local` shows that the unclaimed gas according to the local `neo-scan` instance is correct. This means that deploying goes fine and doesn't add super high fees, but that this is a visual representation issue.

[2019-02-27 16:18] ThomasLobker commented on #902
It effectively breaks the `wallet claim` functionality

[code]

[2019-02-27 16:25] ixje commented on #902
yeah it's a little bit deeper than just visual. The problem is that it persisted the sysfee value incorrectly in the local db :(

[2019-02-28 11:36] okayu8 opened #904 "When I perform my own operation, only the word "Error testing contract invoke" will return and fail."
Hello.
I deployed Smart Contract on test net and confirmed the operation with neo-python.
The operation of NEP 5 can be executed as usual.
However, if you execute your own defined operation, only the word "Error testing contract invoke" will return and fail.
It worked normally when verifying operation with ver: 2.8.0 of neo-privatenet.
https://hub.docker.com/r/cityofzion/neo-privatenet?ref=login
W

[2019-02-28 15:15] ixje commented on #904
Please following instructions of the issue template and provide the requested information. I cannot help you like this.

[code]

I will re-open once you've updated it to include the information required

[2019-02-28 15:15] #904 closed

[2019-03-01 05:36] jseagrave21 commented on #886
@ixje offline mult-sig is now fully supported in 078ceb5d94e99cf69b845d4249a856ec1c0088f1 and most feedback was adjudicated.
With @lock9's help, `SourceAddress` was split into `Address` and `Network` and the testnet is now the default network if `Network` is not implemented. Seen in 38078e42285410453eeac88eed50e15047c5d9f6

[2019-03-01 06:14] jseagrave21 commented on #886
@ixje offline multi-sig is now fully supported and most feedback was implemented in ceb091821b0c07dec743c0e01a0eb73b68b8ac12.
With @lock9's help, `SourceAddress` was split into `Address` and `Network` and the testnet is now the default network if `Network` is not implemented (see 54e4d730fa9db36026bb57a8d283cbc151bf1217). At this point, I think most recommendations have been adjudicated. Please le

[2019-03-04 10:09] ixje commented on #886
I think that all we can address now is there 👍. I'm not so sure about `Address` as name, but I would have to use the script in a couple of scenario's first. Just leave it as is for now; we need to deal with https://github.com/CityOfZion/neo-python/issues/885 first before we can streamline naming. I'll copy the other outstanding "things to think about" below.

[2019-03-05 05:59] saltyskip opened #908 "Support for ABI"
Is ABI support for contracts compiled with NEO python in the roadmap? As we get more complicated contracts out there, it becomes more necessary to be able to generate and look up the ABI's.

[2019-03-06 03:03] lock9 commented on #885
Hello, I did some research on this subject. Based on what we have in neon-wallet, neon-js and neo-modules, we need to implement these features if we want a complete SDK:

Transaction support:
- Contract
- Claim
- Invocation

Transaction building:
- Claim gas
- Send native asset
  - Send
  - SendMany
  - Split
- Call contract with attachments
- Deploy smart contract
- NEP-5
  - Send
  - SendMany
-

[2019-03-06 06:52] ixje commented on #885
Nicely done @lock9! Can you elaborate a bit more on:
- API integration with NEL.
What API do they have? any links
- API integration with CoZ monitor.
Does that have an API? any link to the description/endpoints?
- Node selection policy
I'm guessing you mean RPC node selection? Any example policies you have in mind?
- Transaction tracking
Can you elaborate what this would do? what exactly are we tr

[2019-03-06 07:59] lock9 commented on #885
Hello

https://scan.nel.group/
(docs here: http://www.xiaoyaoji.cn/share/1H0gjTDtfk/)

"http://monitor.cityofzion.io/assets/testnet.json";
"http://monitor.cityofzion.io/assets/mainnet.json";

Yes. Here is an example from neon-wallet: https://github.com/CityOfZion/neon-wallet/blob/dev/app/actions/nodeStorageActions.js

Exactly. After we send the transaction using `sendrawtransaction` we need to tra

[2019-03-06 08:28] lock9 commented on #883
Hello. I'm working on this task. I'm porting neo-modules(https://github.com/CityOfZion/NeoModules) to python:
https://github.com/simplitech/neo-modules-python

So far I implemented Neo RPC and Neo Scan, I have unit tests for both:
https://github.com/simplitech/neo-modules-python/blob/master/NeoModules/RPC/RPCTests.py
https://github.com/simplitech/neo-modules-python/blob/master/NeoModules/Rest/NeoS

[2019-03-07 12:34] ixje commented on #908
I didn't seem to receive a notification for this one, but better late then never.

Can you elaborate on what it would/should look like ? I have a feeling what your asking for is having the compiler spit out an ABI file for the .avm files it creates? If so, please post that on the https://github.com/CityOfZion/neo-boa repository and add some links to the expected format would help.

[2019-03-08 02:05] saltyskip commented on #908
Thanks for the response, I've bumped up the previous issue regarding python ABI's in the neo-boa repo

[2019-03-08 13:48] ixje commented on #908
closing in favour of https://github.com/CityOfZion/neo-boa/issues/34

[2019-03-08 13:48] #908 closed

[2019-03-10 15:09] ThomasLobker commented on #893
I think in `np-prompt` it's quite convenient to have human readable strings for in- and output. But then all smart code should move from other parts of the code to np-prompt. How about a setting to enable or disable heuristic decoding in np-prompt? Throughout the rest of the code, where people use `neo-python` as an SDK, it should be consistent and in my opinion hexified binary strings.

[code]

T

[2019-03-10 21:32] lock9 commented on #885
Going further:

**Transaction building:**
Claim gas
[code]
Send native asset
[code]

~~Send~~

SendMany
[code]

Split
[code]

Call contract with attachments

[code]

**New** - Test invoke.
This call requires further investigation (I'm not sure about the parameters)
[code]

Deploy smart contract
[code]

**NEP-5**
Send
[code]

SendMany
[code]

Custom ('raw transaction')
#886

**API integration:**

N

[2019-03-11 06:42] lock9 commented on #859
I am having the same issue with other tests, `def test_GetHeaderBy(self):  ` is failing here

[2019-03-11 08:36] ixje commented on #859
We use `prompt_toolkit` for console formatting/output. For a while it worked fine, then suddenly Travis-ci started throwing a "console is not a tty" error, even though it always worked before and even though travis runs an ubuntu image that should have a tty terminal. You see this same error if you run it with Pycharm on the emulated console. I tried to work around it for the time being because I

[2019-03-16 10:31] dauTT opened #914 "size calculation for RegisterTransaction incorrect"
### Current behavior
The size calculation of the `RegisterTransaction` is incorrect.

### Expected behavior
The size calculation should follow the [C# implementation](https://github.com/neo-project/neo/blob/master/neo/Network/P2P/Payloads/RegisterTransaction.cs#L38)

### How to reproduce:
Here is an example: for the below `RegisterTransaction` we have size =202 in python. Whereas the size in C# is

[2019-03-16 10:42] dauTT commented on #914
I will provide PR request for this.

[2019-03-17 11:33] merl111 opened #915 "Exception in NodeLeader"
### Current behavior
An exception is thrown due to `.value` is not an attribute or method of `str`
[code]
### How to reproduce
start an api-server with

`bin/np-api-server --mainnet --port-rpc 10332 --port-rest 8080 `

### Your environment

- OS: 4.15.0-38-generic #41-Ubuntu
- neo-python version: v0.8.4
- Python version: 3.7.0

### Possible solution
[code]
As this is a very minor problem, I am not

[2019-03-17 13:12] ixje commented on #915
Hi,
Thanks and we're aware. This has already been fixed in the `development` some time ago so no need to PR. We are also redoing the networking side so it will be obsolete in the near future, thanks!

[2019-03-17 16:13] merl111 commented on #915
Thank you for letting me know, I have checked the development branch and I could still see it in there, that's why I have opened and issue, but if you are already aware of that I am happy.

[2019-03-18 07:53] ixje commented on #915
Oh you're right. It looked so similar to a previous one that misjudged it. I'll re-open such that others can find it and then close once the new networking is in. Thanks again for reporting!

[2019-03-20 16:32] vncoelho opened #917 "Extreme use of computational resources after version v0.8.2"
### Current behavior
neo-py rest API server is currently using an incredible amount of computational resources.
Maybe there is some part of the code that was modified and is in loop `idle`, for example

A screenshot is depicted just for illustrating, but, in general, the use of a single CPU is almost from 90-99%.

![image](https://user-images.githubusercontent.com/17395762/54701455-d0241c00-4b13-1

[2019-03-22 08:59] BeOleg commented on #917
Same problem on a very strong bare metal dedicated box.
Maybe they are mining on our machines ;)

https://github.com/neo-project/neo/issues/648

[2019-03-22 09:17] skinderis commented on #917
I am facing the same issue, was discussing this on discord. I reduced the cpu usage by 50 % and it was syncing well, so it means it is using more resources than it needs

[2019-03-22 10:34] ixje commented on #917
This is the last thing I'm going to say on this topic.

We're sorry to see release(s) that have this behaviour and they should have been captured before. It is currently one of the highest priority items and we have a build that moves away from the `Twisted` framework to `asyncio` that appears to resolve this and a bunch of other open issues related to performance. While it's near ready to be merg

[2019-03-22 12:01] hal0x2328 commented on #917
I can replicate this on a fully synced node - I think this is because the callback loop between `start_block_persisting` and `persist_done`. If `Blockchain.Default().PersistBlocks()` has no work to do, it returns immediately, the `persist_done` callback is executed, and a new thread is spawned to call `PersistBlocks` again with no delay. So the process takes 100% cpu setting up and tearing down th

[2019-03-23 13:43] merl111 commented on #894
I just started working on this issue. Talked to @ixje on Discord.
Progress can be tracked through https://github.com/merl111/neo-python/tree/alt-db-support

The goal is to abstract the database access to support different database implementations.

[2019-03-23 22:41] jseagrave21 commented on #891
@ixje are you sure this one is done and not #888?

[2019-03-24 22:54] dauTT opened #918 "Align invocation txn size calculation with C#"
### Current behavior
The current invocation txn size calculation is done as [follow](https://github.com/CityOfZion/neo-python/blob/master/neo/Core/TX/InvocationTransaction.py#L32):

[code]

### Expected behavior
It should be done like in [¢#](https://github.com/neo-project/neo/blob/master/neo/Network/P2P/Payloads/InvocationTransaction.cs#L15) by taking into consideration the version logic whch det

[2019-03-24 23:02] dauTT commented on #918
I will provide a PR.

[2019-04-02 11:21] kartava opened #927 "How I can pass arguments to ScriptBuilder?"
Hi! I'm interacting with contract methods as in this [example](https://github.com/CityOfZion/neo-python/blob/master/examples/build_raw_transactions.py#L158).

And I need to call the `transfer` method and pass the following arguments (`from`, `to`, `amount`) to this  method.

Could you please describe how I can do it?

[2019-04-02 12:03] ixje commented on #927
Have a look at the `ScriptBuilder` class
e.g. https://github.com/CityOfZion/neo-python/blob/fe90f62e123d720d4281c79af0598d9df9e776fb/neo/VM/ScriptBuilder.py#L179

[2019-04-02 12:52] kartava commented on #927
It would be great if you showed an example with the correct format of the arguments.

[2019-04-02 13:16] ixje commented on #927
You can find references / examples in the main project. Just search for them.

[2019-04-02 13:16] #927 closed

[2019-04-02 13:52] kartava commented on #927
I hope this will save a lot of time for someone.

[code]

[2019-04-08 13:42] kartava opened #931 "Cannot send raw transaction."
I'm trying to use this [example](https://github.com/CityOfZion/neo-python/blob/master/examples/build_raw_transactions.py#L53) with my data.

And the following error appears:
[code]

`contract_tx.ToJson()  result →`:
[code]

[2019-04-08 17:59] ixje commented on #931
At first sight it looks like you have not signed your transaction.

[2019-04-10 12:53] kartava commented on #931
Could you please check [example](https://github.com/CityOfZion/neo-python/blob/master/examples/build_raw_transactions.py#L53) on your network.

It seems that the code in example is not actual.

[2019-04-11 00:14] jseagrave21 commented on #931
@kartava the examples are tested here: https://github.com/CityOfZion/neo-python/blob/master/examples/test_build_raw_transactions.py

On a related note, there is an ongoing project to product a[ lightweight SDK API](https://github.com/CityOfZion/neo-python/issues/883) which includes a [raw transaction builder class](https://github.com/CityOfZion/neo-python/issues/886) which is fully functional here

[2019-04-17 08:00] kartava commented on #931
Thank you! This example works for me.

[2019-04-17 08:00] #931 closed

[2019-04-23 18:01] ixje opened #933 "update requirements"
the requirements can use an update. At least Jinja2 and urllib3 are outdated with high severity issues.

[2019-04-28 08:46] ediopia opened #935 "Could not get block Invalid block, no transactions found for block 2020853"
Testnet.
Wallet sync stuck at this

[I 190428 01:43:55 LevelDBBlockchain:574] Could not get block Invalid block, no transactions found for block 2020853

tried twice and both stuck at the same height.

[2019-04-28 13:19] #935 closed

[2019-04-28 13:29] tariqtm opened #936 "Exception when trying to run the TestInvokeContract from python code"
### Current behavior
I have setup a privatenet with neo-scan as described in the following link

https://github.com/slipo/neo-scan-docker

Which uses the docker pre-built image of privatenet. When i execute the testinvoke command from np-prompt -p i.e. neo-cli it works fine as displayed below:

![image](https://user-images.githubusercontent.com/22135951/56864937-b531ab00-69e1-11e9-8f4b-1fd1c549f74

[2019-04-28 15:07] ixje commented on #936
I'm not completely following what you're doing. The `smart-contract-rest-api.py` you link to is a standalone minimal version to connect to the blockchain and has some Rest API, but nothing that can invoke. I'm guessing you modified one of the endpoints and are calling it.  I can't tell how you modified it, nor how you call it. It seems like the JSON request you're making is wrong or the response y

[2019-04-28 15:30] tariqtm commented on #936
Thanks a lot ixje for the response ..

Yes, i have modified one of the endpoints and then calling it. Here is the modification :

--This is the endpoint code
@app.route('/mycall', methods=['POST'])
@catch_exceptions
@authenticated
@json_response
def create_my_call(request):
    # Parse POST JSON body
    body = json.loads(request.content.read().decode("utf-8"))
    p = Myclass(body["key"],body["va

[2019-04-28 19:34] corck opened #937 "Testnet syncronisation stops working after a few minutes, no nodes connected anymore"
### Current behavior
When starting testnet after a short while the connection to all nodes drops with errors in the console, therefore syncing testnet is practically broken. Syncing currently would take a few hours or a full day and you would need to permanently monitor the connection state and restart neo-python to get new node connection again. I tried this, but now switching to neo-cli, as its

[2019-04-29 07:06] ixje commented on #936
I would look at the result of

I'm guessing that might hold something unexpected and causes this to fail
https://github.com/CityOfZion/neo-python/blob/e002fa580388aedb6b83ef8fd8a4a2867b858813/neo/Network/api/decorators.py#L24

[2019-04-29 07:12] ixje commented on #937
Sorry to hear that. There actually is a loop in the `0.8.4` version that monitors for 0 peers
https://github.com/CityOfZion/neo-python/blob/fe90f62e123d720d4281c79af0598d9df9e776fb/neo/Network/NodeLeader.py#L446

which should run every 10 seconds
https://github.com/CityOfZion/neo-python/blob/fe90f62e123d720d4281c79af0598d9df9e776fb/neo/Network/NodeLeader.py#L103-L105

but according to your experie

[2019-04-29 07:41] corck commented on #937
Unfortunately it does not.

thats the error I think gets thrown for every node that gets disconnected, I think we discussed that in chat before.

[code]

[2019-04-29 07:48] ixje commented on #937
I think that might be solved by https://github.com/CityOfZion/neo-python/pull/926
I can't tell for sure if this exception is causing the reactor to stop therefore breaking the recovery logic. That could be worth trying, but I can understand your need for stability. I hope we can soon bring that back.

[2019-04-29 08:03] corck commented on #937
I'll switched to the latest development and check if I experience the same.

[2019-04-29 09:12] corck commented on #937
@ixje synced now on two of my servers using development branch and both are now syncing stable, no errors in the console anymore, nodes connection stays alive.
Will close this one in ancipitation of #926 being merged in a new release.

[2019-04-29 09:12] #937 closed

[2019-04-29 09:20] ixje commented on #937
Thanks for giving it a try. One of the items I'm waiting on before the next release is the NEO Team to finalise their VM updates (the last code showed differences in storage on the testnet). I want to make sure `neo-python`'s VM matches their "stable" version.

[2019-04-29 11:27] tariqtm commented on #936
ixje,

I have investigated the issue further .. The following line of code

tx, fee, results, num_ops = TestInvokeContract(self.Wallet, params)

is generating the error message "Invalid list operation", which is the main issue. The other json serializable message is caused due to this exception.

Please help me find the reason for "Invalid list operation" message on TestInvokeContract.

Thanks

[2019-04-29 13:05] ixje commented on #936
[code]
wrap your code in this and see where the exception comes from

[2019-04-29 15:12] tariqtm commented on #936
This is the output of traceback.print_exc

Traceback (most recent call last):
  File "/neo-python/neo/Prompt/Commands/Invoke.py", line 341, in test_invoke
    events.emit(event.event_type, event)
  File "/usr/local/lib/python3.6/dist-packages/pymitter/__init__.py", line 282, in emit
    remove = [l for l in listeners if not l(*args, **kwargs)]
  File "/usr/local/lib/python3.6/dist-packages/pymitte

[2019-04-29 16:27] ixje commented on #936
change this
https://github.com/CityOfZion/neo-python/blob/e002fa580388aedb6b83ef8fd8a4a2867b858813/neo/SmartContract/StateReader.py#L305-L307

to
[code]

As you can tell from the comment in the code linked you probably have a mistake in your smart contract. However, you should not be getting the exception shown, so please resolve that with the above code.

[2019-04-30 13:00] tariqtm commented on #936
Thanks a lot ixje, changing the line of code as you suggested solved the problem. That error has gone away and now TestInvokeContract is executing without errors. So, this issue can be closed now.

But now, i am getting a "NoneType: None" when executing the TestInvokeContract. all four return params i.e. tx, fee, results, num_ops are returned as None.

Even though the SmartContract Runtime.Notify

[2019-04-30 13:32] ixje commented on #936
Sorry I can't tell from the error message. You'll have to put some breakpoints and debug the script to see why choose a branch that results in `None`. I would have to do the same. Glad the original issue was resolved

[2019-04-30 13:32] #936 closed

[2019-05-01 12:48] adarshaJha opened #938 "ico_template.avm is an invalid parameter"
i am trying to deploy thor's ico smart contract, i was able to compile it and generate the .avm file but when i  run this command in np-prompt :
**wallet import /home/adarsh.jha/Documents/neoproject/neo-ico-template/ico_te
mplate.avm 0702  False False**

it gives me an error :
**/home/adarsh.jha/Documents/neoproject/neo-ico-template/ico_template.avm is an invalid parameter**

[2019-05-01 16:59] ixje commented on #938
what are you trying to do? Deploy the contract on the network or import the thor contract address?
For the former use `sc deploy` for the latter use `wallet import contract_addr `. Add `help` behind the commands to see the correct usage.

[2019-05-04 06:23] adarshaJha commented on #938
@ixje i'm trying to deploy the contract on the network. i have already created a .avm file ( by compiling the thor contract ). I'm looking to use the same contract for my own demo app which launches ico on neo.

[2019-05-04 09:32] adarshaJha commented on #938
@ixje  thanks for commenting, i found out what wrong i was doing. I was using import command rather i should have used sc deploy path _of_file  false false false 070202 02

but now it's giving me insufficient funds error. i went here https://neofaucet.info/account
and cliamed 1500 neos but still wallet on the local cli doesn't refresh the data.

[2019-05-06 09:01] ixje commented on #938
because you didn't follow the issue template, I can't tell what version you're using. There is an issue with the latest version where it _locally_ holds the wrong balance value after a deploy. That could be the issue here, use `wallet rebuild`  to solve that.

[2019-05-15 09:53] Tommo-L commented on #505
Sorry,  the  JSON-RPC `invokefunction`  method can not invoke `Main` method, but the `operation`  defined in `Main` method, as the JSON-RPC `invokefunction` use the `Main` function as the entry point.

So, you should change the following:
[code]
to:

[code]

[2019-05-16 08:25] LuoRyan opened #940 "'0.00000001' can be output as it is, no need to be converted into '1e-08' 😄?"
### Current behavior
[code]

### Expected behavior
[code]

### How to reproduce
[code]

[code]

[2019-05-16 08:31] LuoRyan commented on #940
@ixje

[code]

[2019-05-16 08:37] ixje commented on #940
you can overwrite the `ToString` method to say
[code]

[2019-05-16 08:40] LuoRyan commented on #940
@ixje
This improvement may have a chance to be in the neo-python-core?😃

[2019-05-16 11:53] ixje commented on #940
`neo-python-core` is no longer maintained. All files have been moved from the `neocore.xxx` name space back into this main project under `neo.Core.xxx`. I've updated the `Fixed8` class in the development branch.

[2019-05-16 11:54] ixje commented on #938
Given the inactivity of the issue I'm assuming it is resolved. If not please comment so we can reopen.

[2019-05-16 11:54] #938 closed

[2019-05-16 13:16] #933 closed

[2019-05-17 12:10] LuoRyan commented on #940
👍
Thank you very much~~~

[2019-05-18 13:58] LuoRyan opened #944 "'TransactionInput' object should have method 'Size'"
@ixje
### Current behavior
[code]

### Expected behavior
[code]

### How to reproduce
[code]

### Your environment
[code]

[2019-05-18 22:58] jseagrave21 commented on #944
@LuoRyan I was looking at this issue and I am a bit confused. The `TransactionInput` class exists within neo-python, however it is not used anywhere. Instead inputs are built from `CoinReference` objects. This confusion was mentioned in this [neo-project issue ](https://github.com/neo-project/neo/issues/245) but both the [documentation](https://docs.neo.org/en-us/sc/reference/fw/dotnet/neo/Transac

[2019-05-19 00:00] LuoRyan commented on #944
@jseagrave21
[code]

[2019-05-21 10:40] ixje commented on #944
can this be closed?

[2019-05-21 14:00] jseagrave21 commented on #944
@ixje the only question I had remaining was if you would like me to submit a PR removing the `TransactionInput` class to try to avoid future confusion.

[2019-05-21 15:36] ixje commented on #944
No we can leave it there because `neo-boa` depends on it

[2019-05-21 15:37] #944 closed

[2019-05-24 10:41] adarshaJha commented on #938
i tried doing wallet rebuild but still getting the same error. not able to get balance.

[2019-05-25 12:16] ixje commented on #938
I can't tell what version you are running because you decided to ignore the issue template. I cannot help you until you provide the requested information.

[2019-05-27 08:11] ixje opened #946 "various PR + review"
Creating an issue to collect information for rewards

@jseagrave21 contributed the following PR's directly into #934 via my personal repo
https://github.com/ixje/neo-python/pull/13
https://github.com/ixje/neo-python/pull/14
https://github.com/ixje/neo-python/pull/16

and has continued testing the branch.

350 points

[2019-05-27 08:11] #946 closed

[2019-05-28 10:17] adarshaJha commented on #938
@ixje  sorry, could you please help how to use issue template ? or which version i should use in order to do it.

[2019-05-28 10:20] ixje commented on #938
when you open an issue you get a set of questions to answer. Specifically:

### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
- What is the problem?
- Include a screenshot if it makes sense.

### Expected behavior

- What should be happening?
- Include a screenshot if it makes sense.

### How to reproduce

- Please explain

[2019-05-29 13:13] ixje commented on #881
moved away from standalone, but the new networking code based on `asyncio` does not hammer the reactor release a lot of tension.

[2019-05-29 13:15] ixje commented on #890
current state is sufficient for LTS. NEO3.0 we'll focus on the larger improvements in the NEO3.0 build

[2019-05-29 13:17] ixje commented on #893
some smart code has been removed. Currently considered sufficient for LTS of 2.0. We'll focus on NEO3.0 build and keep this in mind

[2019-05-30 11:41] ixje opened #951 "BigInteger deviating behaviour for lshift/rshift"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
C#'s BigInteger class does some "smart fixing" when negative shift values are used (as in; it changes SHL into SHR with a positive shift value and vice versa).

This can cause deviating behaviour in handling the `SHR` and `SHL` opcodes.

### Expected behavior

BigInteger shi

[2019-05-30 17:58] lllwvlvwlll commented on #946
https://neoscan.io/transaction/c382c87ce7282664dc849fef5cb8c8de22cf3b596dd1b4e85c87efb194bb2003

[2019-06-05 10:02] ixje opened #954 "prompt input parser parses nested lists incorrectly"
### Current behavior
say we have a contract as follows:
[code]
which we call with:
[code]
That should return True

The problem is that the prompt parser [InputParser](https://github.com/CityOfZion/neo-python/blob/master/neo/Prompt/InputParser.py) thinks the argument lists is:
- '2'
- '['notused',['helloworld']'
- ']'
instead of
- '2'
- '['notused',['helloworld']]'

As such the remainder of the par

[2019-06-05 12:17] ixje commented on #954
requires at least #956. Use latest `development` branch when working on this issue.

[2019-06-10 05:22] saltyskip opened #960 "Simple Policy Plugin"
### Current behavior
Python nodes currently do not support the Simple Policy plugin on the network. Transactions that do not meet the requirements will be accepted in the node, but stuck in the mempool.

### Expected behavior
Implementation of Simple Policy plugin for neo python

### How to reproduce

Submit large transaction via RPC to python node. If over 1024 bytes and no fee is attached, the t

[2019-06-10 06:34] ixje commented on #960
Thanks for reporting.

Is there already an unambiguous description of the feature? It has been discussed last week but there were different interpretations of its working based on the news.

[2019-06-10 23:16] jseagrave21 commented on #960
@saltyskip @ixje I can confirm this behavior. When we implemented the `SimplePolicyPlugin` in https://github.com/CityOfZion/neo-python/pull/869, we only implemented for relaying transactions, not if a rawtransaction was sent to the node and then verified. I have since implemented similar logic in the `Verify` function and tested.

[2019-06-24 07:08] ai-chen2050 opened #971 "np-bootstrap -c configure my local sync node that haved sync and the block data is finish."
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
yes
- What is the problem?
np-bootstrap -c configure my local sync node that haved sync and the block data is finish.
I want to use my local config and data dir, But  I  meet this error. And My sync node had used
 the 20332 port
- Include a screenshot if it makes sense.

![i

[2019-06-24 09:16] ixje commented on #971
lastest

Next time be specific. Latest release (`0.8.4`)? latest development?

It looks like you're trying to run development branch. Development branch cannot use `np-bootstrap` because the bootstrap files are not yet updated. If you read the error message you'll see that port 20333 is already in use. 2 possible reasons can be
1. you're running a private net (like [neo-private](https://hub.docker

[2019-06-24 09:16] #971 closed

[2019-07-16 01:32] brianlenz opened #984 "np-bootstrap hangs at confirm prompt"
### Current behavior
- Are you using the latest available version?
  * Yes (`development` branch)
- What is the problem?
  * `np-bootstrap` hangs at the `confirm` prompt when attempting to overwrite the MainNet chain:
[code]

### Expected behavior

- What should be happening?
You should be able to type `confirm` and continue the process.

### How to reproduce

- Please explain the steps to reprodu

[2019-07-16 05:59] ixje commented on #984
Thanks Brian, I know what the issue is and will resolve it before release. By keeping this issue open it will hopefully lead users here so I can give them the following warning

**Warning**
The latest available bootstrap files should not be used with the development branch. The database is not compatible.

[2019-07-17 13:13] hal0x2328 commented on #960
The SimplePolicy implementation in #964 works, but the transaction fee is still calculated incorrectly. I believe this is because the transaction is built is using the network fee as calculated from `test_invoke` that is based on the unsigned transaction size, but the signed transaction size is larger, leading to a failure during `Transaction.Verify`.

I added an extra debugging line locally to `t

[2019-07-17 14:01] jseagrave21 commented on #960
@hal0x2328 thank you for looking into this. So as I understand it, #964 is still valid but I need to move the logic for the SimplePolicy in #869 to after the tx is signed. This makes a lot of sense.

[2019-07-17 14:07] ixje commented on #960
@jseagrave21 do you want to look into this? Perhaps this can help
https://github.com/neo-project/neo-plugins/blob/master/SimplePolicy.UnitTests/UT_SimplePolicy.cs

[2019-07-17 14:18] jseagrave21 commented on #960
@ixje yes, I will look into it. I will proceed as mentioned above. It shouldn't take me too long.

[2019-08-09 11:59] skinderis commented on #984
do np-bootstrap -ms, -s is to skip confirm

[2019-08-09 14:58] hal0x2328 opened #1000 "Circular map reference causes Python stack overflow"
### Current behavior
(Using development branch, probably applies to master as well).

A circular map reference in a contract will hang the neo-python process and eventually overflow the Python stack.

Here's the line that will be executed over and over increasing the stack usage each time it encounters the circular reference:

https://github.com/CityOfZion/neo-python/blob/b519f55e8ae352f770cfa3290

[2019-08-11 14:50] overqint opened #1001 "Docker build exits with errors"
### Current behavior

- What is the problem?
Docker exits with errors after build command:
`docker build -t neopython-dev . --build-arg branch=development`

[code]

### Expected behavior

container should be build

### How to reproduce

run `docker build -t neopython-dev . --build-arg branch=development`

### Your environment

Mac OSX 10.14.5
Docker Desktop Version 2.0.0.3 (31259)

[2019-08-11 14:55] overqint commented on #238
Working Docker File:

[code]

[2019-08-11 14:56] overqint commented on #1001
Working Docker File:

# Dockerfile to create images running neo-python
# https://github.com/CityOfZion/neo-python/tree/master/docker
#
# Building an image of the current master branch (creates a Docker image called neopython):
#
#    $ docker build -f Dockerfile -t neopython .
#
# Building an image of the current development branch (creates a Docker image called neopython-dev):
#
#    $ docker bui

[2019-08-12 16:18] ixje commented on #1001
Thanks for the report and solution. I'll give it a go in the next couple days

[2019-08-13 07:26] ixje commented on #1001
@nunojusto could you have a quick look and see if this has any impact for your `neo-local` process?
The diff in the docker file is below (left original, right proposed as in the comment above)
![docker-diff](https://user-images.githubusercontent.com/6625537/62922490-c1ccea00-bdab-11e9-9be7-695123d03810.png)

note that the proposed Docker file works for
[code]
but not for
[code]
Failing the dev bra

[2019-08-14 15:56] overqint commented on #1001
Thanks for the input @ixje and @nunojusto
For the branch=development the docker file should be changed to apt-get install python3.7
and so on I would assume.

The proposed Dockerfile is a draft (mainly for my own development purposes) and should be further optimised, maybe also adding a new ubuntu LTS version so we do not need the "sed" hack

[2019-08-14 16:00] ixje commented on #1001
Thanks for the tip on fixing the dev branch @overqint
I'll wait for a response from @nunojusto before proceeding as Docker ain't my specialty and he's pretty awesome at it as far as I have seen historically.

[2019-08-14 16:20] nunojusto commented on #1001
Well, this is related to ubuntu repository problems on the upstream docker image.
I've tried to run `apt-get update` inside a clean ubuntu:17.10 and I receive lots of repositories errors.
[code]

[2019-08-14 16:23] nunojusto commented on #1001
UAU... it seems the Ubuntu version we are using is not supported anymore from official Ubuntu Docker hub.
Found the reason !!

Supported tags and respective Dockerfile links
18.04, bionic-20190718, bionic, latest
18.10, cosmic-20190719, cosmic
19.04, disco-20190718, disco, rolling
19.10, eoan-20190717.1, eoan, devel
16.04, xenial-20190720, xenial

[2019-08-14 16:31] ixje commented on #1001
so we should replace
[code]
with e.g.
[code]
?

[2019-08-14 16:35] nunojusto commented on #1001
Someone should approve my MR and then move it to master branch also.
And one less issue :)

[2019-08-21 12:44] #984 closed

[2019-08-21 12:44] #1000 closed

[2019-08-21 12:52] #881 closed

[2019-08-21 12:52] #887 closed

[2019-08-21 12:52] #888 closed

[2019-08-21 12:52] #889 closed

[2019-08-21 12:52] #890 closed

[2019-08-21 12:52] #891 closed

[2019-08-21 12:52] #893 closed

[2019-08-21 12:52] #894 closed

[2019-08-21 12:52] #895 closed

[2019-08-21 12:52] #901 closed

[2019-08-21 12:52] #902 closed

[2019-08-21 12:52] #914 closed

[2019-08-21 12:53] #915 closed

[2019-08-21 12:53] #917 closed

[2019-08-21 12:53] #918 closed

[2019-08-21 12:53] #940 closed

[2019-08-21 12:53] #951 closed

[2019-08-21 12:53] #954 closed

[2019-08-21 12:53] #960 closed

[2019-08-21 12:53] #1001 closed

[2019-08-21 12:53] #721 closed

[2019-08-21 12:54] ixje commented on #492
should be resolved in `0.9.0`. Please open an new issue if it does not.

[2019-08-21 12:54] #492 closed

[2019-08-21 12:56] ixje commented on #352
There used to be multiple reasons for poor performance. Most of them have been resolved after switching to `asyncio` (from `Twisted`) and limited max peers. There is a significant performance different in the VM execution time between neo-cli and neo-python which we can't address without going to native code. This will be something for the future. For now I believe this issue is resolved

[2019-08-21 12:56] #352 closed

[2019-08-21 12:56] ixje commented on #152
done

[2019-08-21 12:56] #152 closed

[2019-08-21 12:58] ixje commented on #859
you'll have to set the `NEOPYTHON_UNITTEST` environment variable to `1` if you're not running it from a tty (terminal).

[2019-08-21 12:58] #859 closed

[2019-08-21 12:58] ixje commented on #481
Please comment if this is not solved in the latest release and we can re-open

[2019-08-21 12:58] #481 closed

[2019-08-21 13:00] ixje commented on #505
no activity on the main repo issue https://github.com/CityOfZion/neo-python/issues/505#issuecomment-405179217

[2019-08-21 13:00] #505 closed

[2019-08-21 13:00] ixje commented on #325
resolved in latest release

[2019-08-21 13:00] #325 closed

[2019-08-22 19:02] hal0x2328 opened #1009 "Parser breaks when reading --tx-attr argument with spaces"
### Current behavior
Using `--tx-attrs` with any spaces inside the attribute JSON (even inside quoted strings) results in the following error:

[code]

### Expected behavior

To properly parse tx attributes with spaces in them

### How to reproduce

Try the following invocation on TestNet - the `--tx-attr` value is taken directly from the example shown by the `sc invoke help` command in np-prompt:

[2019-08-25 06:32] jseagrave21 commented on #1009
@hal0x2328 I am having trouble recreating your error. I changed the attribute unittests in test_send_commands.py to:
[code]
and got these results:
[code]
and
[code]
I will let you know if I see something different from within prompt once I can get a privatenet spun up.

[2019-08-31 16:19] jseagrave21 opened #1012 "Privatenet fails to initialize"
### Current behavior
When trying to run neo-python using a privatenet, the program hangs and I receive the follow error after exiting using "Ctrl-C":

[code]
After troubleshooting and receiving advice on Slack, @hal0x2328 led to me a solution: changing the nodeport in the json file to something other than 20333.
This is an issue because anyone running the docker image for the privatenet on the sam

[2019-09-01 08:14] jseagrave21 commented on #1009
@hal0x2328 I confirmed the behavior and am pushing a possible solution now

[2019-09-02 21:42] hal0x2328 opened #1014 "neo-python can't sync with Neo 2.10.3 nodes"
### Current behavior

When connecting to a Neo 2.10.3 singlenet I noticed that the remote peer disconnected immediately after receiving the `getheaders` message. Since it's a singlenet that means that neo-python stays at 0/0/0 indefinitely even though all configuration files are correct and it works if the Neo node is downgraded to 2.10.2

I traced the behavior to the `serialize` method in neo/Net

[2019-09-09 11:02] ixje commented on #1012
I think the discussion here is; should we change the default port of `neo-python` to not conflict with `neo-privatenet` if that is running? If so, to what?
The issue will still persist when people copy their config files (which is very likely)

[2019-09-09 11:59] ixje commented on #1014
Thanks for the report and analysis 👍
I still don't know how it worked for `<= 2.10.2` as I didn't find any changes in the 2.10.3 commits that on first sight make sense with the behaviour. Either way, it should now work in dev.

[2019-09-10 05:31] jseagrave21 commented on #1012
@ixje perhaps this could be improved with better documentation in https://github.com/CityOfZion/neo-privatenet-docker.
I was caught off guard originally because I have been using the privatenet without any additional steps since I started contributing. I am not sure what the best way forward is, my only thought was to make the user experience as simple as straightforward as possible.

[2019-09-12 07:19] Avdhesh51000 opened #1018 "Deploy Neo Smart Contract at runtiime."
I am trying to deploy the NEO smart contract at the run time, with dynamic contract, created by my as per requirement. Did any one have any reference for deploying it to test-net / Main-net directly.
I have to deploy the contract in python and Ruby. For this i also tried Neopy (Neo-python)  but there is issue it's have their own console and i am unable to throw the command on that terminal/console

[2019-09-16 11:40] #1014 closed

[2019-09-21 15:15] jseagrave21 commented on #1009
@hal0x2328 could you confirm this issue is resolved?

[2019-09-21 23:18] jseagrave21 opened #1020 "Wallet & np-api-server issues"
### Current behavior
When initializing np-api-server with a wallet,

- [ ] 1. If the wallet does not exist, program does not automatically exit after displaying "Wallet file not found". The user must use "CTRL-C" to exit.

- [ ] 2. If the wrong password is entered, "CTRL-C" does not initialize a shutdown, regardless of the number of times it is entered. A hard shutdown of the program is required.

[2019-09-23 07:25] ixje commented on #1020
Another issue I found while looking at your PR is:
When your privatenet database is different from the one you're connecting to (e.g. because you restarted your docker image or single node) then you used to get a warning saying

[code]
Now it is silently muted and requires a ctrl+c. It can be fixed by changing
https://github.com/CityOfZion/neo-python/blob/5fe7d51ef14614ff1cd0681f8fe2cb3e2cb76557/n

[2019-09-23 07:45] ixje commented on #1020
I provided a solution for issue 4 in your PR

[2019-09-23 07:45] ixje commented on #1018
Closing due to inactivity. Assumed to be resolved.

[2019-09-23 07:45] #1018 closed

[2019-10-01 09:33] ixje commented on #625
Closing due to focus on NEO3

[2019-10-01 09:33] #625 closed

[2019-10-01 09:34] ixje commented on #67
Closing due to focus on NEO3

[2019-10-01 09:34] #67 closed

[2019-10-01 09:34] ixje commented on #84
Closing due to focus on NEO3

[2019-10-01 09:34] #84 closed

[2019-10-01 09:34] ixje commented on #85
Closing due to focus on NEO3

[2019-10-01 09:34] ixje commented on #103
Closing due to focus on NEO3

[2019-10-01 09:34] #103 closed

[2019-10-01 09:34] ixje commented on #104
Closing due to focus on NEO3

[2019-10-01 09:34] #104 closed

[2019-10-01 09:35] #169 closed

[2019-10-01 09:35] ixje commented on #620
Closing due to focus on NEO3. Also neo-hypervm hasn't been updated in a long time and isn't expected to be any time soon.

[2019-10-01 09:35] #620 closed

[2019-10-01 09:37] ixje commented on #892
Closing due to focus on NEO3

[2019-10-01 09:37] #892 closed

[2019-10-05 06:03] LiveOverflow opened #1025 "BigInteger ToByteArray incompatible with neo-vm v3.0.0"
Recently the behavior of the ToByteArray conversion from the BigInteger(0) was changed in neo-vm for version 3.x to return an empty array: https://github.com/neo-project/neo-vm/pull/173

`neo-python` hasn't implemented this change yet and still returns the bytearray `'\x00`.

[2019-10-07 06:13] ixje commented on #1025
Hi,
Thank you for the report. I first have to point out that this repository will stay Neo `2.x` only and a separate `3.x` repository will be created such that we can have a clear separation for issues and roadmaps. We're working on the background on a mostly re-written version for `3.x` which focuses on being an SDK first. Once the core features are implemented we'll make it public. I've updated

[2019-10-07 06:13] #1025 closed

[2020-01-08 06:46] Raj-Dave368 commented on #485
om namah shivay✊🏻omNS omNS
Thanks so much maro BholiyoBaBo maro nath maro hun

[2020-02-05 15:38] brianlenz opened #1030 "Unclaimed gas calculation incorrect"
### Current behavior
- Are you using the latest available version?
Yes, running latest `development` branch.
- What is the problem?
There is one transaction for which gas is unclaimable.

### Expected behavior

- What should be happening?
Gas claim works.

### How to reproduce

- Please explain the steps to reproduce the problem.
Trying to claim gas for the address `AZXKdEc2M73qeQMmPj2zmKJFDWmzQf8

[2020-02-05 16:33] ixje commented on #1030
I think failure would make sense if the total gas to claim suggested by `neo-python` is bigger than what the others think, but smaller shouldn't fail. A wrong total value is still an issue of course.

I have to let this one sink in for a moment. I've been working on neo3 for a while now that I have to refresh my mind on the `2.x` code base and UTXO model.

[2020-02-05 16:51] ixje commented on #1030
I think it will be hard for me to debug anything given that it is a claim on your account. My first idea is to compare the `unclaimed` returned here
https://github.com/CityOfZion/neo-python/blob/f343df6c50c5bd39eb0d812c8dc011f717a7df93/neo/Core/Blockchain.py#L441

with what the C# client would say here (make sure to not accidentally relay the transaction on the C# side)
https://github.com/neo-proj

[2020-02-05 18:23] brianlenz commented on #1030
OK, I have tracked the issue down to `GetSysFeeAmountByHeight`. The end block height for this transaction is `5028923`. I checked the expected fee via JSON-RPC, and it's supposed to be `307291`. The value being returned by neo-python is `27399`.

When I manually run the rest of the GAS calculation with the proper/expected value, it _does_ result in the proper GAS amount, so this is definitely the

[2020-02-05 18:54] brianlenz commented on #1030
I checked a different fully sync'd neo-python chain, and it has the same issue.

@ixje, do you have a neo-python 2.0 chain you can test against? I'm just using the RPC server to quickly test:

[code]

With the JSON-RPC call:

[code]

Expecting a value of `307291` but getting a value of `27399`.

[2020-02-06 09:38] ixje commented on #1030
I unfortunately have to say no. I used to have a VPS running the latest version for audit reasons but that seems to have died and I've not been able to recover it (yet). The fastest option I can think of is taking a `neo-python` [bootstrap 4117000](https://s3.us-east-2.amazonaws.com/cityofzion/bootstrap_main/Main4117000.tar.gz) and the latest available  [chain.acc](https://sync.ngd.network/) from

[2020-02-12 15:46] brianlenz commented on #1030
It worked! 🎉 I did a full re-sync, starting from @ixje's bootstrap, syncing with `chain.acc`, and then syncing the last 200k blocks in `np-prompt` (which took over a week in total 😳). The gas calculations that resulted from the full rebuild were correct and solved the issue.

Thanks, @ixje! Glad to hear neo-python had it right; once I saw your confidence that it _should_ work, I was very hopeful t

[2020-02-12 15:46] #1030 closed

[2020-03-30 17:37] WAELKASSEM opened #1032 "About NEP-5 Smart Contracts"
I am using the template provided below :
https://github.com/CityOfZion/neo-boa/blob/master/boa_test/example/demo/NEP5.py
And neo-local  , to create and deploy locally an NEP-5 token.
The process of build and deploy using the related commands runs successfully .

**However the INVOKE command doesn't !**
The command 'show contracts all' doesn't list this smart contract , but it shows my other non NE

[2020-04-08 14:12] ixje commented on #1032
please describe the exact commands you used to build and deploy and to which network (private net, testnet?). It sounds like you're either doing a test invoke without actually permanently deploying the contract to a chain, or your local chain is out of sync.

[2020-04-08 19:55] WAELKASSEM commented on #1032
1- sc build <path to NEP-5.py>
2 - sc deploy <path to NEP-5.avm> True False False  etc....
I get no errors.
Everything happens the same as deploying another smart contract but not NEP-5 .

using private_net.

[2020-04-13 05:57] ixje commented on #1032
which exact `neo-python` version are you using? You can type `np-prompt --version` assuming you followed the default installation instructions. Otherwise try `cat neo/__init__.py`

[2020-04-13 20:23] WAELKASSEM commented on #1032
I'm using neo-local , it always pulls the latest neo-python.
And I've imported neo-boa v 0.6.0 to my python project .

[2020-04-30 03:06] helailiang opened #1033 "docker 只有Ubuntu的吗，在centos上运行出错"
### Current behavior
- Are you using the latest available version? If not, first update and verify the problem still exists.
- What is the problem?
- Include a screenshot if it makes sense.

### Expected behavior

- What should be happening?
- Include a screenshot if it makes sense.

### How to reproduce

- Please explain the steps to reproduce the problem. If you are having an issue with your mac

[2020-04-30 06:04] #1033 closed

[2020-04-30 07:51] helailiang opened #1034 "centos7下，运行np-prompt，卡顿后后，ctrl + z 退出后，再此运行np-prompt，报错"
$ np-prompt
Maxpeers set to  5
Traceback (most recent call last):
  File "/home/neo/myproject/venv/lib/python3.7/site-packages/neo/Storage/Implementation/LevelDB/LevelDBImpl.py", line 44, in __init__
    lru_cache_size=10 * 1024 * 1024)
  File "plyvel/_plyvel.pyx", line 247, in plyvel._plyvel.DB.__init__
  File "plyvel/_plyvel.pyx", line 88, in plyvel._plyvel.raise_for_status
plyvel._plyvel.IOErro

[2020-04-30 08:57] ixje commented on #1034
Type `exit` to exit `np-prompt`. Hard killing it will, as you experienced, often not properly close the database (and can cause data loss).  To solve your issue, delete the `LOCK` file.

[2020-04-30 09:01] #1034 closed

[2020-04-30 09:05] helailiang opened #1035 "运行np-prompt后，prompt.log中报错，"
$ np-prompt
[I 200430 15:58:00 Settings:359] Created 'Chains' directory at /home/neo/.neopython/Chains
Maxpeers set to  5
[I 200430 15:58:01 LevelDBImpl:45] Created DB at /home/neo/.neopython/Chains/SC234
[I 200430 15:58:01 LevelDBImpl:45] Created DB at /home/neo/.neopython/Chains/Test_Notif

==================prompt.log======================
$ vi prompt.log
[I 200430 15:58:01 LevelDBImpl:45] Crea

[2020-04-30 09:06] ixje commented on #1035
use the issue reporting template

[2020-04-30 09:06] #1035 closed

[2020-04-30 09:18] helailiang opened #1036 "运行np-prompt后,没有出现NEO命令行"
### Current behavior
![image](https://user-images.githubusercontent.com/46402797/80693924-59bf5f00-8b06-11ea-84cd-0a7485f374e3.png)

![image](https://user-images.githubusercontent.com/46402797/80694011-7eb3d200-8b06-11ea-8996-7a425f59d336.png)

[2020-11-06 11:39] #1036 closed

[2021-01-10 19:22] mieszacz opened #1039 "Connect to node problem"
Hi,
after I run np-prompt I receive this message:

ohhh, some error we didn't expect happened. Please create a Github issue and share the following stacktrace so we can try to resolve it

----------------[start of trace]----------------
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/neo/Network/nodemanager.py", line 335, in _connect_to_node
    await asyncio.wait

[2021-01-11 06:37] ixje commented on #1039
please fill in the full issue form. There is now too little information to try and help you

[2021-01-21 00:56] Pei116 commented on #485
I had to uninstall `pycrypto` and install `pycryptodome` only

[2021-01-25 11:35] ixje commented on #1039
inactive

[2021-01-25 11:35] #1039 closed

[2021-02-06 01:07] someone-somenet-org commented on #1032
Same issue here, today. It seems everything is fine, but the contract just wont get deployed.

I am using the docker image: ``docker run --rm -d --name neo-privatenet -v /home/.../mynep5/:/neo-python/sc -p 20333-20336:20333-20336/tcp -p 30333-30336:30333-30336/tcp cityofzion/neo-privatenet``

I can run things with `sc build_run ....` like:
+ ``sc build_run sc/mynep5.py True True False 0710 07 name

[2021-02-06 08:12] ixje commented on #1032
* Have you tried attaching extra gas on the deploy transaction? Shouldn't be required but worth a try.

* For your checkwitness problem you'll have to add a transaction attribute. See
https://github.com/CityOfZion/neo-python/blob/f343df6c50c5bd39eb0d812c8dc011f717a7df93/examples/build_raw_transactions.py#L170-L173

* As for the double/triple deploy. I've not heard of that before, but you could try

[2021-02-19 02:41] someone-somenet-org commented on #1032
no. how would I do that with neopy or neo-cli?

I later managed to do that with neoline on pubtestnet, but I failed to do that with neopy and neo-cli. how would I do that with those?

created container, opened wallet, waited 15 min, ran ``wallet rebuild``, waited 15 min.

still only 2 deploys, that wont actually deploy, the 3. one will fail with insufficient funds.

[2021-02-19 07:56] ixje commented on #1032
For neo-cli ask on the neo-cli repo. I don't know. For neo-python, use `--attach-gas` when invoking (see `sc invoke help`).

use `--tx-attr` when invoking. Again see `sc invoke help` it has an example in the help description. the `"usage"` value should be [0x20](https://github.com/CityOfZion/neo-python/blob/f343df6c50c5bd39eb0d812c8dc011f717a7df93/neo/Core/TX/TransactionAttribute.py#L21) and the "

[2021-02-23 13:27] v-retoux opened #1040 "TestNet bootstrap"
Hi,
Is there a way to find a newer TestNet bootstrap file than the one used by bootstrap.py
It seems this script is using https://s3.us-east-2.amazonaws.com/cityofzion/bootstrap_main/Test2970000.tar.gz which only contains 2 970 000 blocks over 5 677 000.
Thanks

[2021-02-23 13:41] ixje commented on #1040
No sorry. The bootstrap files are no longer maintained and all focus lies on [NEO3 support](https://github.com/CityOfZion/neo-mamba) which no longer needs these files.